{###

menutree  (Object)  The root item of a tree with the following structure:
  title   (String)  The menu item's title
  url     (String)  The menu item's URL
  active  (Boolean) Whether the menu item is in the active trail
  current (Boolean) Whether the menu item represents the current page
  below   (Array)   The child menu items below this menu item

lang      (String)  The current page's langcode

###}

{% import _self as self %}

<nav aria-label="{{ lang == 'es' ? 'Secundaria' : 'Secondary' }}">
  <ul class="usa-sidenav">
    {{ self.sidenav_item(menutree, lang) }}
  </ul>
</nav>


{% macro sidenav_item(item, lang) %}
  {% import _self as self %}

  <li class="usa-sidenav__item">

    {% if item.current %}
    
      {% if lang == 'es' %}
        {% set nonEnglishCurrentPageIndicator %}<p class="usa-sr-only">esta página</p>{% endset %}
      {% else %}
        {% set englishCurrentPageIndicator %} aria-current="page"{% endset %}
      {% endif %}
      
      <div class="active-trail usa-current"{{ englishCurrentPageIndicator }}>
        {{ nonEnglishCurrentPageIndicator }}
        {{ item.title }}
      </div>

    {% else %}
      <a href="{{ item.url }}"{% if item.active %} class="active-trail"{% endif %}>
        {{ item.title }}
      </a>
    {% endif %}

    {{ self.sidenav_sublist(item, lang) }}
  </li>
{%  endmacro %}


{% macro sidenav_sublist(item, lang) %}
  {% import _self as self %}

  {% if item.below %}
    <ul class="usa-sidenav__sublist">
      {% for item in item.below %}
        {{ self.sidenav_item(item, lang) }}
      {% endfor %}
    </ul>
  {% endif %}
{%  endmacro %}