<label id="{{ label_id }}" class="usa-label" for="{{ label_for }}">{{ label_text }}</label>
<div class="grid-row">
  <div class="grid-col-fill mobile-lg:grid-col-auto">
    <div class="usa-combo-box {{ usa_combo_box_modifiers }}" {% if default_value %} data-default-value="{{ default_value }}" {% endif %} data-enhanced="true" data-filter="{{ '{{' }}query}}.*|.*\s{{ '{{' }}query}}.*">
      <ul id="{{ list_id }}" class="{{ list_classes }}">
      {{ list_contents }}
      </ul>
      <input id="{{ input_id }}" aria-autocomplete="list" aria-expanded="false" autocapitalize="off" autocomplete="off" class="{{ input_classes }}" type="text" aria-labelledby="{{ input_aria_labelledby }}" role="combobox" name="{{ input_name }}" required>
    </div>
  </div>
  <button class="{{ button_classes }}" type="submit">
    {{ button_text }}
  </button>
</div>
