{#
/**
 * @file
 * Override of system/menu.html.twig for the primary menu.
 *
 * Available variables:
 * - classes: A list of classes to apply to the top level <ul> element.
 * - dropdown_classes: A list of classes to apply to the dropdown <ul> element.
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *
 * @ingroup templates
 *
 * Define a custom macro that will render all menu trees.
 */
#}
{% import _self as menus %}
{#
We call a macro which calls itself to render the full tree.
@see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, 0, megamenu, 0, NULL, duplicate_parent, NULL, mega_display_second, attributes) }}

{% macro menu_links(items, menu_level, megamenu, button_id, parent, duplicate_parent, region, mega_display_second, attributes) %}
  {% import _self as menus %}

  {% if parent.url.getOption('attributes') %}
    {% set link_attributes = create_attribute(parent.url.getOption('attributes')) %}
  {% else %}
    {% set link_attributes = create_attribute() %}
  {% endif %}

  {% if items %}

    {% if menu_level == 0 %}
      <ul class="usa-nav__primary usa-accordion" role="navigation">
    {% elseif megamenu and menu_level == 1 %}
      <div id="extended-mega-nav-section-{{ button_id }}" class="usa-nav__submenu usa-megamenu" hidden="">

      {% if duplicate_parent %}
        <div class="grid-row grid-gap-4">
          <div class="desktop:grid-col-3">
            <div class="usa-nav__submenu-item">
              <a {{ link_attributes }} href="{{ parent.url }}">
                <span><h3>{{ parent.title }}</h3></span>
              </a>
            </div>
          </div>
        </div>
      {% endif %}

      <div class="grid-row grid-gap-4">
    {% else %}
      <ul id="basic-nav-section-{{ button_id }}" class="usa-nav__submenu{% if menu_level > 1 %}-list{% endif %}"{% if menu_level == 1  %} hidden=""{% endif %}>

      {% if duplicate_parent and megamenu == 0 %}
        <li class="usa-nav__submenu-item">
          {{ link_attributes }}
          <a {{ link_attributes }} href="{{ parent.url }}">
            <span><strong>{{ parent.title }}</strong></span>
          </a>
        </li>
      {% endif %}
    {% endif %}

    {% for item in items %}
      {% if item.url.getOption('attributes') %}
        {% set link_attributes = create_attribute(item.url.getOption('attributes')) %}
      {% else %}
        {% set link_attributes = create_attribute() %}
      {% endif %}

      {% if megamenu and menu_level == 1 %}
        <div class="desktop:grid-col-3">

        {% if mega_display_second and item.below  %}
          <div class="usa-nav__submenu-item">
            <a {{ link_attributes.addClass('usa-nav__link') }} href="{{ item.url }}">
              <span><strong>{{ item.title }}</strong></span>
            </a>
          </div>
        {% endif %}
      {% else %}
        <li class="{% if menu_level == 0 %}usa-nav__primary-item{% else %}usa-nav__submenu-item{% endif %}">
      {% endif %}

      {% if menu_level == 0 and item.below %}
        <button class="usa-accordion__button usa-nav__link {% if item.in_active_trail %}usa-current{% endif %}" aria-expanded="false" aria-controls="{% if megamenu  %}extended-mega-nav-section-{% else %}basic-nav-section-{% endif %}{{ loop.index }}">
          <span>{{ item.title }}</span>
        </button>
      {% endif %}

      {% if item.below and ((megamenu and menu_level == 1) or menu_level == 0) %}
        {{ menus.menu_links(item.below, menu_level + 1, megamenu, loop.index, item, duplicate_parent, NULL, mega_display_second, attributes) }}
      {% else %}
        {% if megamenu and menu_level == 1 %}
          <div class="usa-nav__submenu-item">
        {% endif %}

        {%
          set item_classes = [
          'usa-nav__link',
          item.in_active_trail ? 'usa-current'
        ]
        %}

        <a href="{{ item.url }}"{% if menu_level == 0 %} {{ link_attributes.addClass(item_classes)}} {% else %} {{ link_attributes}} {% endif %}>
          <span>{{ item.title }}</span>
        </a>
        {% if megamenu and menu_level == 1 %}
          </div>
        {% endif %}
      {% endif %}

      {% if megamenu and menu_level == 1 %}
        </div>
      {% else %}
        </li>
      {% endif %}

    {% endfor %}

    {% if megamenu and menu_level == 1 %}
      </div>
      </div>
    {% else %}
      </ul>
    {% endif %}

  {% endif %}

{% endmacro %}
