{%
  set classes = [
    'site-banner',
    'For-analytics'
  ]
%}

<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}

  {% if label %}
    <h2>{{ label }}</h2>
  {% endif %}

  {{ title_suffix }}

  {% block content %}
    {{ content }}
  {% endblock %}
</div>