
{# 
  For Testing on Federalist, replace
  href="
  with
  href="/site/cwacht/test/mobilemenudemo

  #}

{# Determine Language to decide which menu and translations to use #}
{% if node.langcode.langcode == "es" %}
  {% set main_nav_items = simplify_menu('left-menu-spanish') %}
  {% set translations = {
    'home': 'Página principal',
    'home_URL': '/es',
    'close': 'Cerrar',
    'search': 'Buscar',
    'search_placeholder': 'Busque en USAGov en Español',
    'search_affiliate': 'usagov_es_all_gov',
    'all_topics': 'Todos los temas y servicios',
    'phone_URL': '/es/centro-de-llamadas'
  } %}
{% else %}
  {% set main_nav_items = simplify_menu('left-menu-english') %}
  {% set translations = {
    'home': 'Home',
    'home_URL': '/',
    'close': 'Close',
    'search': 'Search',
    'search_placeholder': 'Search all government',
    'search_affiliate': 'usagov_all_gov',
    'all_topics': 'All topics and services',
    'phone_URL': '/phone'
  } %}
{% endif %}


{# Create an array of the active trail items from each level of the menu (up to the active item) #}
{% set active_trail = [] %}
{% set found_active_item = false %}
{% set active_item_has_children = false %}
{% set sibblings_of_active_item = null %}
{% set submenu = main_nav_items.menu_tree %}
{% for i in 0..10 if not found_active_item %}
  {% for menu_item in submenu if menu_item.active_trail %}
    {% set active_trail = active_trail|merge([menu_item]) %}
    {% if menu_item.active %}
      {% set found_active_item = true %}
      {% if menu_item.submenu %}
        {% set active_item_has_children = true %}
      {% else %}
        {% set sibblings_of_active_item = submenu %}
      {% endif %}
    {% endif %}
    {% set submenu = menu_item.submenu %}
  {% endfor %}
{% endfor %}

{# Build the mobile menu #}
<nav aria-label="Primary navigation" class="usa-nav usagov-mobile-menu">
  <div class="usa-nav__inner">
    <div class="usagov-mobile-menu-top">
      <div class="usagov-mobile-menu-controls">
        <a id="mobile-menu-home-link" href="{{ translations.home_URL }}">
          <img src="/themes/custom/usagov/assets/img/usa-icons/home.svg" role="img" alt="{{ translations.home }}">{{ translations.home }}
        </a>
        <button class="usa-nav__close">
          <img src="/themes/custom/usagov/assets/img/usa-icons/highlight_off.svg" role="img" alt="{{ translations.close }}">{{ translations.close }}
        </button>
      </div>
      <div class="usa-nav__secondary">
        <form class="usa-search usa-search--small" action="https://search.usa.gov/search" method="get" name="search_form" accept-charset="UTF-8" role="search">
            <label id="mobile-menu-top-srch" class="usa-sr-only" for="search-field-small">{{ translations.search }}</label>
            <input id="mobile-menu-affiliate" name="affiliate" type="hidden" value="{{ translations.search_affiliate }}">
            <input id="mobile-menu-search-field-small" class="usa-input text usagov-search-autocomplete ui-autocomplete-input" type="search" name="query" placeholder="{{ translations.search_placeholder }}" onfocus="this.placeholder = ''" autocomplete="off" aria-autocomplete="list" aria-haspopup="true">
            <button class="usa-button" type="submit">
              <img src="/themes/custom/usagov/images/search--dark.svg" class="usa-search__submit-icon" alt="{{ translations.search }}">
            </button>
        </form>
        <span class="usa-nav__secondary-links">
          <span id="mobile-menu-top-phone" class="usa-nav__secondary-item">
            <a href="{{ translations.phone_URL }}" class="">1-844-USAGOV1</a>
          </span>
        </span>
      </div>
    </div>


{# Build the mobile nav #}
  {% if active_trail is empty %}

    {# The current page is not in the menu structure. Show All Topics and Services #}
    <ul class="navigation__items ancestors">
      <li class="navigation__item active">
        <a href="{{ translations.home_URL }}#all-topics-header">{{ translations.all_topics }}</a>
        <ul class="navigation__items children">
          {% for menu_item in main_nav_items.menu_tree %}
            <li class="navigation__item child">
              <a href="{{ menu_item.url }}">{{ menu_item.text }}</a>
            </li>
          {% endfor %}
        </ul>
      </li>
    </ul>

  {% else %}
    
    <ul class="navigation__items ancestors">
    {% for menu_item in active_trail %}
      {% set class = "" %}

      {# The first item is an umbrella category unless it is the current page #}
      {% if loop.index == 1 %}
        {% set class = " umbrella" %}
      {% endif %}

      {# The current page #}
      {% if menu_item.active %}
        {% set class = " active" %}
      {% endif %}

      {# Show the first item and up to 3 items at the end of the active trail #}
      {% if loop.index == 1 or loop.index + 3 > active_trail|length %}
        {% if not active_item_has_children and loop.index == active_trail|length %}
          {# The current page has no children, so we should show its siblings instead #}
          <li class="navigation__item">
            <ul class="navigation__items">
              {% for child in sibblings_of_active_item %}
                {% set class = "" %}
                {% if child.active %}
                  {% set class = " active" %}
                {% else %}
                  {% set class = " sibling" %}
                {% endif %}
                <li class="navigation__item{{class}}">
                  <a href="{{ child.active ? "#" : child.url }}">{{ child.text }}</a>
                </li>
              {% endfor %}
            </ul>
          </li>
        {% else %}
          <li class="navigation__item{{class}}">
            <a href="{{ menu_item.active ? "#" : menu_item.url }}">{{ menu_item.text }}</a>

            {# Show any children of the active item #}
            {% if menu_item.active and menu_item.submenu is not empty %}
              <ul class="navigation__items children">
                {% for child in menu_item.submenu %}
                  <li class="navigation__item child">
                    <a href="{{ child.url }}">{{ child.text }}</a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endif %}
        
      {% endif %}
    {% endfor %}
    </ul>
  {% endif %}


</div>
</nav>
{# {{dd()}} #}