{% extends "breadcrumb.html.twig" %}

{% block content %}
  <ol class="usa-breadcrumb__list" itemscope itemtype="http://schema.org/BreadcrumbList">
    {% for item in breadcrumb %}
      {% if loop.index < 4 %}
      <li class="usa-breadcrumb__list-item {{ item.url ? '' : 'usa-breadcrumb__currrent' }}" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        {% if item.url %}
          <a href="{{ item.url }}" class="usa-breadcrumb__link" itemprop="item">
                      <span itemprop="name">
                          {% if item.url == '/es' %}
                            Página principal
                          {% else %}
                            {{ item.text }}
                          {% endif %}
                      </span>
          </a>
        {% else %}
          <span itemprop="name">{{ item.text }}</span>
        {% endif %}
        <meta itemprop="position" content="{{loop.index}}" />
      </li>
      {% endif %}
    {% endfor %}
  </ol>
{% endblock %}
