{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% if path('<current>') matches '#\/agencies\/*#'%}
    {% include directory ~ '/templates/includes/breadcrumbs_for_agencies.html.twig' %}

{% elseif path('<current>') matches '#\/states\/*#' %}
    {% include directory ~ '/templates/includes/breadcrumbs_for_states.html.twig' %}


{% elseif path('<current>') == '/es/indice-agencias' or path('<current>') matches '#\/es\/agencias\/*#' %}
    {% include directory ~ '/templates/includes/breadcrumbs_for_es_agencies.html.twig' %}

{% elseif path('<current>') == '/gobiernos-estatales' or path('<current>') matches '#\/estados\/*#' %}
    {% include directory ~ '/templates/includes/breadcrumbs_for_es_states.html.twig' %}
   

{% else %}
    {% if breadcrumb %}
        <nav class="margin-top-neg-3
                    mobile-lg:margin-top-2
                    tablet:margin-top-neg-3
                    desktop:margin-top-0
                    margin-bottom-2
                    mobile-lg:margin-bottom-6"
                role="navigation"
                aria-labelledby="system-breadcrumb"
            >
            <h2 id="system-breadcrumb" class="usa-sr-only">{{ 'Breadcrumb'|t }}</h2>
            <ol class="usa-breadcrumb__list" itemscope itemtype="http://schema.org/BreadcrumbList">
                {% for item in breadcrumb %}
                    <li class="usa-breadcrumb__list-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        {% if item.url %}
                            <a href="{{ item.url }}" class="usa-breadcrumb__link" itemprop="item">
                                <span itemprop="name">
                                    {% if item.url == '/es' %}
                                        Página principal
                                    {% else %}
                                        {{ item.text }}
                                    {% endif %}
                                </span>
                            </a>
                        {% else %}
                            <span itemprop="name">{{ item.text }}</span>
                        {% endif %}
                        <meta itemprop="position" content="{{loop.index}}" />
                    </li>
                {% endfor %}
            </ol>
        </nav>
    {% endif %}
{% endif %}
