{# For Directory Records Page #}

{{ dd() }}
{# {%
set title_classes = [
    label_display == 'visually_hidden' ? 'usa-sr-only',
]
%}

{% if label_hidden %}
{% if multiple %}
    <div{{ attributes }}>
    {% for item in items %}
        <div class="usa-prose">
            <p class="usa-intro">
                {{ item.content }}
            </p>
        </div>
    {% endfor %}
    </div>
{% else %}
    {% for item in items %}
    <div class="usa-prose">
        <p class="usa-intro">
            {{ item.content }}
        </p>
    </div>
    {% endfor %}
{% endif %}
{% else %}
<div{{ attributes }}>
    <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
    {% if multiple %}
    <div>
    {% endif %}
    {% for item in items %}
    <div class="usa-prose">
        <p class="usa-intro">
            {{ item.content }}
        </p>
    </div>
    {% endfor %}
    {% if multiple %}
    </div>
    {% endif %}
</div>
{% endif %} #}
