{{ attach_library('wizardstep') }}

{% set radio_buttons = true %}

{% if radio_buttons %}

{% set translation = {prior: "Back", next: "Next"} %}
{% if element["#language"] == "es" %}
    {% set translation = {prior: "Previo", next: "Siguiente"} %}
{% endif %}


<div class="usa-prose">
{% if element["#language"] == "en" %}
    <p class="usa-scam-label">WHERE TO REPORT A SCAM</p>
{% else %}
    <p class="usa-scam-label">Dónde reportar una estafa</p>
{% endif %}

<h1 class="text-blue" id="skip-to-h1"><span>{{ element['#object'].title.value }}</span></h1>
</div>
<div id="wizard-border">
<fieldset class="usa-fieldset maxw-tablet margin-x-auto">
    <legend class="usa-sr-only">{{ element['#object'].title.value }}</legend>

    {% if element['#object'].title.value == "What type of scam do you need to report?" or element['#object'].title.value == "¿Qué tipo de estafa necesita reportar?" %}
    <legend class="usa-sr-only">{{ element['#object'].body[0].value|raw }}</legend>
    {% else %}
    <legend>{{ element['#object'].body[0].value|raw }}</legend>
    {% endif %}

    <div id="msg" class="maxw-tablet margin-x-auto usa-error" tabindex= "-1"></div>
    {% for item in items %}
        {% set title = item.content["#options"]["entity"].field_option_name.0.value %}
        {% if title == null %}
            {% set title = item.content["#title"] %}
        {% endif %}

        {% set id = title|lower|replace({' ': '-', '.': '-'}) %}
        {% set url = item.content["#url"] %}

        <input class="usa-radio__input usa-radio__input--tile" type="radio" id="{{id}}" name="options" value="{{url}}#block-usagov-content">
        <label class="usa-radio__label" for="{{id}}">{{title}}</label>
    {% endfor %}

</fieldset>
</div>

 <div class="grid-row flex-justify maxw-mobile margin-x-auto margin-top-6  usa-reverse">
        <button id="prior" class="usa-button usa-button--outline usagov-button--outline-black usa-button--big" onclick="window.location.href = document.querySelector(`.previous-wizard-step a`).href+'#block-usagov-content'">{{translation.prior}}</button>
        <button id="next" class="usa-button usa-button--secondary usa-button--big" onclick="window.location.href = document.querySelector(`input[name='options']:checked`).value">{{translation.next}}</button>
    </div>
{% else %}

<ul class="add-list-reset">
{% for item in items %}
    <li>
        <a href="{{item.content["#url"]}}" class="usa-button usa-button--secondary usa-button--big">{{item.content["#title"]}}</a>
    </li>
{% endfor %}
</ul>

{% endif %}

