<div class="usa-prose margin-top-1em">
  <p>
    Enter your physical address in the form below in order to get a list of
    elected officials at the federal, state, and local levels.
  </p>

  <div
    id="error-box"
    class="usa-alert usa-alert--slim usa-alert--error usa-error--alert"
    tabindex="-1">
    <div class="usa-alert__body">
      <h3 class="usa-alert__heading">Your information contains errors</h3>
      <ul id="testing">
        <li id="error-street" class="usa-alert__text">
          <a href="#input-street"><span>Fill out the street field</span></a>
        </li>
        <li id="error-city" class="usa-alert__text">
          <a href="#input-city"><span>Fill out the city field</span></a>
        </li>
        <li id="error-state" class="usa-alert__text">
          <a href="#input-state"><span>Fill out the state field</span></a>
        </li>
        <li id="error-zip" class="usa-alert__text">
          <a href="#input-zip"><span>Fill out the ZIP code field</span></a>
        </li>
      </ul>
    </div>
  </div>

  <form
    class="usa-form maxw-none"
    action="/elected-officials-results#skip-to-h1"
    autocomplete="off"
    name="myform"
    id="myform"
  >
    <div class="padding-1px bg-gray-5">
      <div class="maxw-mobile margin-x-auto margin-y-4">
        <p>
          <strong>All fields are required.</strong>
        </p>
        <div id="error-border">
          <div>
            <label id="myStreetAddress" class="usa-label" for="input-street">
              Street address
            </label>
            <span id="street" class="errors"></span>
            <input
              class="usa-input"
              id="input-street"
              aria-describedby="street"
              name="input-street"
              type="text"
              onkeypress="return event.keyCode != 13;"
              required
              oninvalid="this.setCustomValidity('Fill out the street field.')"
              oninput="this.setCustomValidity('')"
              />
          </div>
          <div>
            <label id="myCity" class="usa-label" for="input-city">City</label>
            <span id="city" class="errors"></span>
            <input
              class="usa-input"
              id="input-city"
              aria-describedby="city"
              name="input-city"
              type="text"
              onkeypress="return event.keyCode != 13;"
              required
              oninvalid="this.setCustomValidity('Fill out the city field.')"
              oninput="this.setCustomValidity('')" />
          </div>
          <div>
            <label id="input-state-label" class="usa-label" for="input-state">
              State
            </label>
            {# For the data-filter =
            "{{ '{{' }}query}}.*| -> suggest states that start with the query
            .*\s{{ '{{' }}query}}.*| -> suggest states that start with the query
            .*\({{ '{{' }}query}}.*" -> suggest states with an abbreviation that matches the query #}
            <div class="usa-combo-box" data-filter="{{ '{{' }}query}}.*|.*\s{{ '{{' }}query}}.*|.*\({{ '{{' }}query}}.*">
              <label class="visuallyhidden">
                Select your state:
              <select
                aria-describedby="state"
                class="usa-select"
                name="select-dropdown"
                id="input-state"
                autocomplete="off"
                required
                oninvalid="this.setCustomValidity('Fill out the state field.')"
                oninput="this.setCustomValidity('')">
                <option id="AL" value="AL">Alabama (AL)</option>
                <option id="AK" value="AK">Alaska (AK) </option>
                <option id="AZ" value="AZ">Arizona (AZ)</option>
                <option id="AR" value="AR">Arkansas (AR)</option>
                <option id="CA" value="CA">California (CA)</option>
                <option id="CO" value="CO">Colorado (CO)</option>
                <option id="CT" value="CT">Connecticut (CT)</option>
                <option id="DE" value="DE">Delaware (DE)</option>
                <option id="DC" value="DC">District Of Columbia (DC)</option>
                <option id="FL" value="FL">Florida (FL)</option>
                <option id="GA" value="GA">Georgia (GA)</option>
                <option id="HI" value="HI">Hawaii (HI)</option>
                <option id="ID" value="ID">Idaho (ID)</option>
                <option id="IL" value="IL">Illinois (IL)</option>
                <option id="IN" value="IN">Indiana (IN)</option>
                <option id="IA" value="IA">Iowa (IA)</option>
                <option id="KS" value="KS">Kansas (KS)</option>
                <option id="KY" value="KY">Kentucky (KY)</option>
                <option id="LA" value="LA">Louisiana (LA)</option>
                <option id="ME" value="ME">Maine (ME)</option>
                <option id="MD" value="MD">Maryland (MD)</option>
                <option id="MA" value="MA">Massachusetts (MA)</option>
                <option id="MI" value="MI">Michigan (MI)</option>
                <option id="MN" value="MN">Minnesota (MN)</option>
                <option id="MS" value="MS">Mississippi (MS)</option>
                <option id="MO" value="MO">Missouri (MO)</option>
                <option id="MT" value="MT">Montana (MT)</option>
                <option id="NE" value="NE">Nebraska (NE)</option>
                <option id="NV" value="NV">Nevada (NV)</option>
                <option id="NH" value="NH">New Hampshire (NH)</option>
                <option id="NJ" value="NJ">New Jersey (NJ)</option>
                <option id="NM" value="NM">New Mexico (NM)</option>
                <option id="NY" value="NY">New York (NY)</option>
                <option id="NC" value="NC">North Carolina (NC)</option>
                <option id="ND" value="ND">North Dakota (ND)</option>
                <option id="OH" value="OH">Ohio (OH)</option>
                <option id="OK" value="OK">Oklahoma (OK)</option>
                <option id="OR" value="OR">Oregon (OR)</option>
                <option id="PA" value="PA">Pennsylvania (PA)</option>
                <option id="RI" value="RI">Rhode Island (RI)</option>
                <option id="SC" value="SC">South Carolina (SC)</option>
                <option id="SD" value="SD">South Dakota (SD)</option>
                <option id="TN" value="TN">Tennessee (TN)</option>
                <option id="TX" value="TX">Texas (TX)</option>
                <option id="UT" value="UT">Utah (UT)</option>
                <option id="VT" value="VT">Vermont (VT)</option>
                <option id="VA" value="VA">Virginia (VA)</option>
                <option id="WA" value="WA">Washington (WA)</option>
                <option id="WV" value="WV">West Virginia (WV)</option>
                <option id="WI" value="WI">Wisconsin (WI)</option>
                <option id="WY" value="WY">Wyoming (WY)</option>
              </select>
              </label>
              <span id="state" class="errors"></span>
            </div>
          </div>
          <div>
            <label id="myZIP" class="usa-label" for="input-zip">ZIP code</label>
            <span id="zip" class="errors"></span>
            <input
              class="usa-input"
              id="input-zip"
              aria-describedby="zip"
              name="input-zip"
              type="text"
              maxlength="5"
              onkeypress="return event.keyCode != 13;"
              required
              oninvalid="this.setCustomValidity('Fill out the zip field.')"
              oninput="this.setCustomValidity('')" />
          </div>
        </div>
          <p>Results are provided by the Google Civic Information API. USA.gov does not guarantee the accuracy of results.</p>
          <p><a href="/privacy-security">Learn how USA.gov protects your privacy</a>.</p>
        <div class="ceo-button-container">
          <button
            class="usa-button usa-button--secondary usa-button--big ceo-button"
            type="button"
            onclick="handleFormSubmission()"
          >
            Find my elected officials
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="usa-prose body-copy">
<h2 id="other-options">Other ways to find elected officials</h2>
<p>Learn how to contact federal, state/territorial, and local elected leaders.</p>


<h3>Federal elected officials</h3>
<ul>
<li>Contact <a href="https://www.whitehouse.gov/contact/">President Joe Biden</a> online, or call the White House switchboard at 202-456-1414 or the comments line at 202-456-1111 during business hours.</li>
<li>Get contact information for <a href="https://www.senate.gov/senators/senators-contact.htm">U.S. senators</a>.</li>
<li>Find website and contact information for <a href="https://www.house.gov/representatives">U.S. representatives</a>.</li>
</ul>

<h3>State and territorial elected officials</h3>
<ul>
<li>Get in touch with <a href="/state-governor">state or territorial governors</a>.</li>
<li>Find the names and current activities of <a href="https://www.congress.gov/state-legislature-websites">state and territorial legislators</a>.</li>
</ul>


<h3>Local elected officials</h3>
<ul>
<li><a href="https://www.usmayors.org/mayors/">Search for a mayor</a> by name, city, or population size.</li>
<li>Find a <a href="https://ce.naco.org/">county executive</a> (the head of a county’s executive branch of government) by map search or ZIP Code. The county executive may be an elected or an appointed position.</li>
<li>Get contact information for <a href="/local-governments">city, county, and town officials</a>.</li>
</ul>
</div>

<script src="/themes/custom/usagov/scripts/purify.min.js" defer></script>
<script src="/themes/custom/usagov/scripts/ceoSubmission.js" defer></script>
<script src="/themes/custom/usagov/scripts/usps-credentials.js" defer></script>
