{% set answer = items[0].content['#text']|raw %}

{# Determine Language to decide which translations to use #}
{% if element['#language'] == "es" %}
	{% set translations = {
		'where_to_report_a_scam': 'Dónde reportar una estafa',
		'what_type_of_scam_url': '/es/donde-reportar-una-estafa/que-tipo-de-estafa-necesita-reportar#block-usagov-content',
		'start_over': 'Reiniciar'
	} %}
{% else %}
	{% set translations = {
		'where_to_report_a_scam': 'WHERE TO REPORT A SCAM',
		'what_type_of_scam_url': '/where-report-scams/what-type-scam-do-you-need-report#block-usagov-content',
		'start_over': 'Start over'
	} %}
{% endif %}

{% if "Based on your answers" in answer or "Basándose en sus respuestas" in answer %}
    <div class="usa-prose">
        <p class="usa-scam-label">{{translations.where_to_report_a_scam}}</p>
        <h1 class="text-blue" id="skip-to-h1"><span>{{ element['#object'].title.value }}</span></h1>
    </div>
    <div class="maxw-tablet margin-x-auto">
        {% for item in items %}
            <div class="wizard_result" {{item.attributes}} >{{ item.content }}</div>
        {% endfor %}
    </div>
    <div class="grid-row flex-justify-center maxw-mobile margin-x-auto margin-top-6">
        <a id="WizardStartOverButton" class="usa-button" href="{{translations.what_type_of_scam_url}}">
            {{translations.start_over}}
        </a>
    </div>
{% endif %}
