 <div class="usa-prose margin-top-1em">
      <p>Escriba su dirección postal para encontrar a los funcionarios que le representan a nivel federal, estatal y local.</p>

    <div id="error-box" class="usa-alert usa-alert--slim usa-alert--error usa-error--alert" tabindex="-1">
      <div class="usa-alert__body">
        <h3 class="usa-alert__heading">Su información contiene errores</h3>
        <ul id="testing">
          <li id="error-street" class="usa-alert__text">
            <a href="#input-street"><span>Escriba la dirección</span></a>
          </li>
          <li  id="error-city" class="usa-alert__text">
            <a href="#input-city"><span>Escriba el nombre de la ciudad</span></a>
          </li>
          <li  id="error-state" class="usa-alert__text">
            <a href="#input-state"><span>Escriba el nombre del estado</span></a>
          </li>
          <li  id="error-zip" class="usa-alert__text">
            <a href="#input-zip"><span>Escriba el código postal</span></a>
          </li>
        </ul>
      </div>
    </div>

    <form
      class="usa-form maxw-none"
      action="/es/funcionarios-electos-resultados#skip-to-h1"
      autocomplete="off"
      name="myform"
      id="myform"
      >
      <div class="padding-1px bg-gray-5">
        <div class="maxw-mobile margin-x-auto margin-y-4">
          <p><strong>Todos los campos son obligatorios.</strong></p>

          <div id="error-border" >
            <div class="usa-form-spacing">
              <label id="myStreetAddress" class="usa-label" for="input-street">Dirección</label>
              <span id="street" class="errors"></span>
              <input class="usa-input" id="input-street" aria-describedby="street" name="input-street" type="text" onkeypress="return event.keyCode != 13;" required oninvalid="this.setCustomValidity('Escriba la dirección')" oninput="this.setCustomValidity('')"/ />
            </div>

            <div class="usa-form-spacing">
              <label id="myCity" class="usa-label" for="input-city">Ciudad</label>
              <span id="city" class="errors"></span>
              <input class="usa-input" id="input-city" aria-describedby="city" name="input-city" type="text" onkeypress="return event.keyCode != 13;" required oninvalid="this.setCustomValidity('Escriba el nombre de la ciudad')" oninput="this.setCustomValidity('')" />
            </div>

            <div class="usa-form-spacing">
              <label id="input-state-label" class="usa-label" for="input-state">Estado</label>
              {# For the data-filter =
              "{{ '{{' }}query}}.*| -> suggest states that start with the query
              .*\s{{ '{{' }}query}}.*| -> suggest states that start with the query
              .*\({{ '{{' }}query}}.*" -> suggest states with an abbreviation that matches the query #}
              <div class="usa-combo-box" data-filter="{{ '{{' }}query}}.*|.*\s{{ '{{' }}query}}.*|.*\({{ '{{' }}query}}.*" data-default-value={{ input_state }}>
                <label class="visuallyhidden"> Estado:
                  <select
                    aria-describedby="state"
                    class="usa-select"
                    name="select-dropdown"
                    id="input-state"
                    required
                    autocomplete="off"
                    oninvalid="this.setCustomValidity('Fill out the state field.')"
                    oninput="this.setCustomValidity('')">
                    <option id="AL" value="AL">Alabama (AL)</option>
                <option id="AK" value="AK">Alaska (AK) </option>
                <option id="AZ" value="AZ">Arizona (AZ)</option>
                <option id="AR" value="AR">Arkansas (AR)</option>
                <option id="CA" value="CA">California (CA)</option>
                <option id="CO" value="CO">Colorado (CO)</option>
                <option id="CT" value="CT">Connecticut (CT)</option>
                <option id="DE" value="DE">Delaware (DE)</option>
                <option id="DC" value="DC">District Of Columbia (DC)</option>
                <option id="FL" value="FL">Florida (FL)</option>
                <option id="GA" value="GA">Georgia (GA)</option>
                <option id="HI" value="HI">Hawaii (HI)</option>
                <option id="ID" value="ID">Idaho (ID)</option>
                <option id="IL" value="IL">Illinois (IL)</option>
                <option id="IN" value="IN">Indiana (IN)</option>
                <option id="IA" value="IA">Iowa (IA)</option>
                <option id="KS" value="KS">Kansas (KS)</option>
                <option id="KY" value="KY">Kentucky (KY)</option>
                <option id="LA" value="LA">Louisiana (LA)</option>
                <option id="ME" value="ME">Maine (ME)</option>
                <option id="MD" value="MD">Maryland (MD)</option>
                <option id="MA" value="MA">Massachusetts (MA)</option>
                <option id="MI" value="MI">Michigan (MI)</option>
                <option id="MN" value="MN">Minnesota (MN)</option>
                <option id="MS" value="MS">Mississippi (MS)</option>
                <option id="MO" value="MO">Missouri (MO)</option>
                <option id="MT" value="MT">Montana (MT)</option>
                <option id="NE" value="NE">Nebraska (NE)</option>
                <option id="NV" value="NV">Nevada (NV)</option>
                <option id="NH" value="NH">New Hampshire (NH)</option>
                <option id="NJ" value="NJ">New Jersey (NJ)</option>
                <option id="NM" value="NM">New Mexico (NM)</option>
                <option id="NY" value="NY">New York (NY)</option>
                <option id="NC" value="NC">North Carolina (NC)</option>
                <option id="ND" value="ND">North Dakota (ND)</option>
                <option id="OH" value="OH">Ohio (OH)</option>
                <option id="OK" value="OK">Oklahoma (OK)</option>
                <option id="OR" value="OR">Oregon (OR)</option>
                <option id="PA" value="PA">Pennsylvania (PA)</option>
                <option id="RI" value="RI">Rhode Island (RI)</option>
                <option id="SC" value="SC">South Carolina (SC)</option>
                <option id="SD" value="SD">South Dakota (SD)</option>
                <option id="TN" value="TN">Tennessee (TN)</option>
                <option id="TX" value="TX">Texas (TX)</option>
                <option id="UT" value="UT">Utah (UT)</option>
                <option id="VT" value="VT">Vermont (VT)</option>
                <option id="VA" value="VA">Virginia (VA)</option>
                <option id="WA" value="WA">Washington (WA)</option>
                <option id="WV" value="WV">West Virginia (WV)</option>
                <option id="WI" value="WI">Wisconsin (WI)</option>
                <option id="WY" value="WY">Wyoming (WY)</option>
                  </select>
                </label>
                <span id="state" class="errors"></span>
              </div>
            </div>

            <div class="usa-form-spacing">
              <label id="myZIP" class="usa-label" for="input-zip">Código postal</label>
              <span id="zip" class="errors"></span>
              <input class="usa-input" id="input-zip" aria-describedby="zip" name="input-zip" type="text" onkeypress="return event.keyCode != 13;" required oninvalid="this.setCustomValidity('Escriba el código postal')" oninput="this.setCustomValidity('')" />
            </div>
          </div>
          <p>Los resultados son proporcionados en inglés por la API de información cívica de Google. USAGov en Español no garantiza la precisión de los resultados.</p>
          <p>
            <a href="/es/privacidad-seguridad">Conozca cómo USAGov en Español protege su privacidad</a>.
          </p>
          <div class="ceo-button-container">
            <button class="usa-button usa-button--secondary usa-button--big ceo-button" type="button"
            onclick="handleFormSubmission()">
              Encontrar a mis funcionarios electos
            </button>
          </div>
        </div>
      </div>
    </form>
</div>
<div class="usa-prose body-copy">
<h2 id="otras-formas">Otras formas para encontrar a los funcionarios electos​</h2>
<p>Conozca cómo comunicarse con los líderes electos del Gobierno federal, estatal, territorial y local.</p>

<h3>Funcionarios electos del Gobierno federal</h3>
<ul>
<li>Contacte al <a href="http://www.whitehouse.gov/contact/">presidente Joe Biden (en inglés)</a> por internet, o llame a la Casa Blanca al 202-456-1414, o a la línea de comentarios al 202-456-1111 durante el horario de oficina.</li>
<li>Obtenga la información de contacto y sitio web de los miembros del Congreso de Estados Unidos:</li>
   <ul>
  <li><a href="https://www.senate.gov/senators/senators-contact.htm">Senadores (en inglés)</a></li>
   <li><a href="http://www.house.gov/representatives">Cámara de Representantes (en inglés)</a></li>
</ul>
</ul>

<h3>Funcionarios electos del Gobierno estatal y territorial</h3>
<ul>
<li>Contacte al <a href="/state-governor">gobernador o gobernadora del estado o territorio (en inglés)</a>.</li>
<li>Encuentre los nombres y actividades de <a href="https://www.congress.gov/state-legislature-websites">los legisladores estatales y territoriales (en inglés)</a>.</li>
</ul>

<h3>Funcionarios electos del Gobierno local</h3>
<ul>
<li>Busque por nombre o ciudad al <a href="https://www.usmayors.org/mayors/">alcalde o alcaldesa (en inglés)</a>.</li>
<li>Busque por medio del mapa o código postal al <a href="https://ce.naco.org/">ejecutivo del condado (en inglés)</a>. Este es el jefe de la rama ejecutiva del Gobierno del condado y puede ser un cargo electo o designado.</li>
<li>Encuentre la información de contacto de otros <a href="/local-governments">funcionarios de la ciudad, condado y pueblo (en inglés)</a>.</li>
</ul>
</div>

<script src="/themes/custom/usagov/scripts/purify.min.js" defer></script>
<script src="/themes/custom/usagov/scripts/ceoSubmission.js" defer></script>
<script src="/themes/custom/usagov/scripts/usps-credentials.js" defer></script>
