<div class="usa-footer__primary-section">
	<div class="grid-container">
		<div class="grid-row grid-gap">

			<div class="tablet:grid-col-8">
				<nav class="usa-footer__nav" aria-label="Footer navigation">
					<div class="grid-row grid-gap-4">

						<div class="mobile-lg:grid-col-6 desktop:grid-col-3">
							<section class=" usa-footer__primary-content usa-footer__primary-content--collapsible ">
								<h3 class="usa-gov-footer__primary-link">
									{{ lang == 'es' ?  "Información del Gobierno" : "Government information" }}
								</h3>
								<ul class="usa-list usa-list--unstyled">
									<li class="usa-footer__secondary-link">
										{% if lang == "es" %}
											<a href="/es#all-topics-header">
												Todos los temas y servicios
											</a>
										{% else %}
											<a href="/#all-topics-header">
												All topics and services
											</a>
										{% endif %}
									</li>
									<li class="usa-footer__secondary-link">
										{% if lang == "es" %}
											<a href="https://www.usa.gov/espanol/agencias-federales">
												Directorios de agencias y departamentos del Gobierno de EE. UU.
											</a>
										{% else %}
											<a href="https://www.usa.gov/federal-agencies">
												Directory of U.S. government agencies and departments
											</a>
										{% endif %}
									</li>
									<li class="usa-footer__secondary-link">
										{% if lang == "es" %}
											<a href="https://beta.usa.gov/es/ramas-gobierno-estados-unidos">
												Ramas del Gobierno
											</a>
										{% else %}
											<a href="/branches-of-government">
												Branches of government
											</a>
										{% endif %}
									</li>
								</ul>
							</section>

						</div>

						<div class="mobile-lg:grid-col-6 desktop:grid-col-3">
							<section class=" usa-footer__primary-content usa-footer__primary-content--collapsible ">
								<h3 class="usa-gov-footer__primary-link">
									{{ lang == 'es' ?  "Sobre nosotros" : "About us" }}
								</h3>

								<ul class="usa-list usa-list--unstyled">
									<li class="usa-footer__secondary-link ftr-list">
										{% if lang == "es" %}
											<a href="https://www.usa.gov/espanol/quienes-somos">
												Nuestra historia y misión
											</a>
										{% else %}
											<a href="/mission-history">
												Our mission and history
											</a>
										{% endif %}
									</li>

									<li class="usa-footer__secondary-link">
										{% if lang == "es" %}
											<a href="/es/privacidad-seguridad">
												Políticas de privacidad y seguridad
											</a>
										{% else %}
											<a href="/privacy-security">
												Privacy and security policies
											</a>
										{% endif %}
									</li>

									<li class="usa-footer__secondary-link">
										{% if lang == "es" %}
											<a href="/es/accesibilidad">
												Política de accesibilidad
											</a>
										{% else %}
											<a href="/accessibility">
												Accessibility policy
											</a>
										{% endif %}
									</li>

									{% if lang != "es" %}
										<li class="usa-footer__secondary-link">
										<a href="/how-to-cite">
											How to cite USA.gov
										</a>
									</li>
									<li class="usa-footer__secondary-link">
										<a href="https://analytics.usa.gov/">
											Real-time website data
										</a>
									</li>
								{% endif %}
							</ul>
						</section>
					</div>

					<div class="mobile-lg:grid-col-6 desktop:grid-col-3">
						<section class=" usa-footer__primary-content usa-footer__primary-content--collapsible ">
							<h3 class="usa-gov-footer__primary-link">
								{{ lang == 'es' ?  "Para agencias federales" : "For federal agencies"  }}
							</h3>
							<ul class="usa-list usa-list--unstyled">
								<li class="usa-footer__secondary-link">
									{% if lang == "es" %}
										<a href="https://www.usa.gov/espanol/colabore-con-nosotros#item-211505">
											Colabore con nosotros
										</a>
									{% else %}
										<a href="/partner-with-usagov">
											Partner with us
										</a>
									{% endif %}
								</li>

								<li class="usa-footer__secondary-link">
									{% if lang == "es" %}
										<a href="https://blog.usa.gov">
											Blog de USAGov
										</a>
									{% else %}
										<a href="https://blog.usa.gov/">
											USAGov blog
										</a>
									{% endif %}
								</li>
							</ul>
						</section>
					</div>

					<div class="mobile-lg:grid-col-6 desktop:grid-col-3">
						<section class=" usa-footer__primary-content usa-footer__primary-content--collapsible ">
							<h3 class="usa-gov-footer__primary-link">
								{{ lang == 'es' ?  "Para medios de comunicación" : "For media" }}


							</h3>
							<ul class="usa-list usa-list--unstyled">
								{% if lang == "es" %}
									<li class="usa-footer__secondary-link ">
										<a href="https://beta.usa.gov/es/articulos">
											Artículos de interés
										</a>
									</li>

								{% else %}
									<li class="usa-footer__secondary-link ftr-list">
										<a href="/features">
											Feature articles
										</a>
									</li>
								{% endif %}
							</li>
						</ul>
					</section>
				</div>

			</div>
		</nav>
	</div>

	<div class="tablet:grid-col-4">
		<div class="usa-sign-up">
			<h4 class="usa-sign-up__heading">
				{{ lang == 'es' ? "Suscríbase para recibir información actualizada" :  "Sign up to receive email updates" }}
			</h4>
			{% if lang == "es" %}
				<form class="usa-form" action="https://conectate.gobiernousa.gov/suscripciones" method="get">
				{% else %}
					<form class="usa-form" action="https://connect.usa.gov/subscribe" method="get">
					{% endif %}
					<label class="usa-label" for="email">
						{{ lang == 'es' ?  "Escriba su email" : "Enter your email"  }}
					</label>
					<input class="usa-input" id="email" name="email" type="email">
					<button class="usa-button" type="submit">
						{{ lang == 'es' ?  "Suscríbase ahora" : "Sign up" }}
					</button>
				</form>
			</div>
		</div>

	</div>
</div></div><script src="/themes/custom/usagov/scripts/newFooter.js"></script>
