
{% set term_name = "" %}
{% if node.field_page_type.0 != null %}
    {% set term_name = drupal_field('name', 'taxonomy_term', node.field_page_type.0.target_id)[0]['#context']['value'] %}
{% endif %}

{% if (term_name == "Standard Page") or (term_name == "Standard Page- Nav Hidden") or (front == "not_homepage") and (term_name == "") or (content_type == "wizard") or (content_type == "wizard_step") %}


{% set talk = '/phone' %}
{% set talk_es = '/es/centro-de-llamadas' %}
{% set chat = '/chat' %}
{% set sp_chat = '/es/chat' %}

<div id="question-box">
    <div class="border-left-1 padding-left-205 border-cyan-10 margin-top-8 margin-bottom-9 padding-bottom-2">
        <h2 class="font-family-heading margin-top-0">
            {{ lang == 'en' ? "Have a question?" : "¿Tiene una pregunta?" }}
        </h2>
        {% if lang == 'en' %}
            <p>Ask a real person any government-related question for free. They will get you the answer or let you know where to find it.</p>
        {% else %}
            <p>Pregunte gratis a una persona real cualquier duda relacionada con el Gobierno. Le darán la respuesta o le indicarán dónde encontrarla.</p>
        {% endif %}
        <div class="grid-row grid-gap">
            <div class="tablet:grid-col-4 margin-bottom-2">
                <a class="question-icon" href="{{ lang == 'es' ? talk_es : talk }}">
                    <img class="chat-icon" src="/themes/custom/usagov/images/ICONS_talk.png" alt="talk icon">
                    {{ lang == 'en' ? "Call USAGov" : "Llame a USAGov en Español" }}
                </a>
            </div>
            <div class="tablet:grid-col-8">
                {% if lang == 'en' %}
                    <a class="question-icon" href="{{ chat }}">
                {% else %}
                    <a class="question-icon" href="{{ sp_chat }}">
                {% endif %}

                    <img class="chat-icon" src="/themes/custom/usagov/images/ICONS_chat.png" alt="chat icon">
                    {{ lang == 'en' ? "Chat with USAGov" : "Chatee con USAGov en Español" }}
                </a>
            </div>
        </div>
    </div>
</div>
{% endif %}