 {#Have a question#}

 {% set exclusions = [
    '/usagov-beta',
    '/about-the-us',
    '/money',
    '/money-and-credit',
    '/laws-and-legal-issues',
    '/scams-and-frauds',
    '/es',
    '/es/betausagoves',
    '/es/betausagoves-0',
    '/es/acerca-de-estados-unidos',
    '/es/dinero',
    '/es/dinero-y-credito',
    '/es/leyes-y-asuntos-legales',
    '/es/estafas-y-fraudes'
] %}
{% set nodeID = node.nid[0].value %}
{% set path = drupal_url('node/'~nodeID) %}

{% if path|render not in exclusions %}

{% set talk = '/phone' %}
{% set chat = '/chat' %}

    <div class="border-top-05"></div>
 
        <div class="grid-row grid-gap border-left-1 ">
            <span class="text-bold">{{ lang == 'en' ? "Do you have a question?" : "¿Tiene una pregunta?" }} </span> 
            {% if lang == 'en' %}
                <p>Ask a real person any government-related question for free.  They will get you the answer or let you know where to find it.</p> 
            {% else %} 
                <p>¿Tiene una pregunta? Pregunte gratis a una persona real cualquier duda relacionada con el Gobierno. Le darán la respuesta o le indicarán dónde encontrarla.</p>
            {% endif %}
            <div class="grid-col-6">
                <a class="q-icon" href="{{ talk }}{{ url }}">
                <img class="chat-icon" src="/themes/custom/usagov/images/ICONS_talk.png" alt="talk icon">{{ lang == 'en' ? "Call and speak to a live USAGov agent." : "Llame y hable con un agente de USAGov en Español." }}</a>
            </div>
            <div class="grid-col-6">
                <a class="q-icon" href="{{ chat }}{{ url }}">
                <img class="chat-icon" src="/themes/custom/usagov/images/ICONS_chat.png" alt="chat icon">{{ lang == 'en' ? "Chat with a live USAGov agent." : "Chatee en vivo con un agente de USAGov en Español." }}</a>
            </div>
        </div>

{% endif %}
    