{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain one or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 */
#}

{% if node.langcode.value %}
  {% set lang = node.langcode.value %}
{% elseif language %}
  {% set lang = language %}
{% endif %}
{% set nodeID = node.nid[0].value %}
{% set path = drupal_url('node/'~nodeID, {absolute: TRUE}) %}
{% set url = path|render|render %}
{% if front == "homepage"            %}
{%   set baseURL = url('<front>')    %}
{%   set url = baseURL|render|render %}
{%   if not (url ends with '/')      %}
{%     set url = url ~ '/'           %}
{%   endif                           %}
{% endif                             %}

<!DOCTYPE html>
<html{{ html_attributes }}>
<head>
{% block header_html %}
  {% if meta_noindex %}
  <meta name="robots" content="noindex" />
  {% endif %}
<link rel="preconnect" href="https://script.crazyegg.com" crossorigin>
<link rel="preconnect" href="https://www.googletagmanager.com" crossorigin>

<head-placeholder token="{{ placeholder_token|raw }}">

{% if front == "homepage" %}
<link rel="preload" href="{{ file_url(node.field_homepage_banner|file_uri|image_style('max_480w')) }}" as="image" media="(max-width: 639.9px)">
<link rel="preload" href="{{ file_url(node.field_homepage_banner|file_uri|image_style('max_640w')) }}" as="image" media="(min-width: 640px) and (max-width: 719.9px)">
<link rel="preload" href="{{ file_url(node.field_homepage_banner|file_uri|image_style('max_720w')) }}" as="image" media="(min-width: 720px) and (max-width: 959.9px)">
<link rel="preload" href="{{ file_url(node.field_homepage_banner|file_uri|image_style('max_960w')) }}" as="image" media="(min-width: 960px) and (max-width: 1023.9px)">
<link rel="preload" href="{{ file_url(node.field_homepage_banner|file_uri|image_style('max_1024w')) }}" as="image" media="(min-width: 1024px) and (max-width: 1279.9px)">
<link rel="preload" href="{{ file_url(node.field_homepage_banner|file_uri|image_style('max_1280w')) }}" as="image" media="(min-width: 1280px) and (max-width: 1439.9px)">
<link rel="preload" href="{{ file_url(node.field_homepage_banner|file_uri|image_style('max_1440w')) }}" as="image" media="(min-width: 1440px) and (max-width: 1535.9px)">
<link rel="preload" href="{{ file_url(node.field_homepage_banner|file_uri|image_style('max_1536w')) }}" as="image" media="(min-width: 1536px) and (max-width: 1919.9px)">
<link rel="preload" href="{{ file_url(node.field_homepage_banner|file_uri|image_style('max_1920w')) }}" as="image" media="(min-width: 1920px) and (max-width: 2047.9px)">
<link rel="preload" href="{{ file_url(node.field_homepage_banner|file_uri|image_style('max_2048w')) }}" as="image" media="(min-width: 2048px) and (max-width: 3071.9px)">
<link rel="preload" href="{{ file_url(node.field_homepage_banner|file_uri|image_style('max_3072w')) }}" as="image" media="(min-width: 3072px)">
{% endif %}

<title>{{ head_title|safe_join(' | ') }}</title>
  <css-placeholder token="{{ placeholder_token|raw }}">
  <js-placeholder token="{{ placeholder_token|raw }}">

  {% if node.id is defined %}
    {{ node.field_header_html.value|raw }}
  {% endif %}
{% endblock %}

  {% block taxonomy_data %}
  <script id="taxonomy-data">
    dataLayer = [{{ datalayer | json_encode(constant('JSON_UNESCAPED_UNICODE') b-or constant('JSON_UNESCAPED_SLASHES') b-or constant('JSON_PRETTY_PRINT')) | raw }}];
  </script>
  {% endblock %}

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-W8LW6DB');</script>
  <!-- End Google Tag Manager -->
  {% if front == "homepage" %}
   <!-- Social Media -->
    <meta property="fb:pages" content="65369158579" />
    <!-- End Social Media -->

    <!-- Website Verification -->
    <meta name="p:domain_verify" content="f3135f7662284cd99a63b43e8371757f"/>
    <meta name="google-site-verification" content="p7YQsJ1axaK_4XZeFOVM_tVuvS-hu5fUcEFT0vYJfTM" />
    <meta name="google-site-verification" content="QsZz3rz0kvdcs5rSqFjWMkxzQyDuH40vIohA8TYF1JI" />
    <meta name="msvalidate.01" content="7ED9318B2E16491CECD0F0CFCB5594E8" />
    <!-- End Website Verification -->
    {% if meta_description %}
      <meta name="description" content="{{ meta_description }}" />
    {% else %}

      {% if lang == 'en' %}
        <meta name="description" content="USA.gov can help you start your search for government information by topic and agency. " />
      {% else %}
        <meta name="description" content="Página principal de USAGov en Español, el portal oficial del Gobierno de Estados Unidos en español. " />
      {% endif %}
    {% endif %}
    {% if lang == 'en' %}
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "name": "USA.gov",
        "url": "https://usa.gov/"
      }
    </script>
    {% endif %}
  {% endif %}
  {% if front == "not_homepage" and meta_description %}
    <meta name="description" content="{{ meta_description }}" />
  {% else %} {# No meta_description, but we have a fallback for wizards #}
    {% if node_type == "wizard" and lang == "en" or node_type == "wizard_step" and lang == "en" %}
    <meta name="description" content="Have you experienced a scam and want to report it? Just answer a few questions to learn how to report the scam to the right place." />
    {% elseif node_type == "wizard" and lang == "es" or node_type == "wizard_step" and lang == "es" %}
    <meta name="description" content="¿Ha sufrido una estafa y quiere reportarla? Solo responda unas cuantas preguntas para saber cómo reportar la estafa en el lugar correcto." />
    {% endif %}
  {% endif %}

  <!-- Favicons -->
  <link rel="icon" href="/themes/custom/usagov/images/Favicon_USAGov.png">
  <link rel="apple-touch-icon-precomposed" href="/themes/custom/usagov/images/Favicon_USAGov.png">

  <!-- Social Media -->
  <meta property="og:url" content="{{ url }}" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{head_title|safe_join(' | ')}}" />
  {% if meta_description %}
  <meta property="og:description" content="{{ meta_description }}" />
  {% elseif front == "homepage" and lang == 'en' %}
  <meta property="og:description" content="USA.gov can help you start your search for government information by topic and agency." />
  {% elseif front == "homepage" and lang == 'es' %}
  <meta property="og:description" content="Página principal de USAGov en Español, el portal oficial del Gobierno de Estados Unidos en español." />
  {% elseif node_type == "wizard" and lang == "en" or node_type == "wizard_step" and lang == "en" %}
  <meta name="og:description" content="Have you experienced a scam and want to report it? Just answer a few questions to learn how to report the scam to the right place." />
  {% elseif node_type == "wizard" and lang == "es" or node_type == "wizard_step" and lang == "es" %}
  <meta name="og:description" content="¿Ha sufrido una estafa y quiere reportarla? Solo responda unas cuantas preguntas para saber cómo reportar la estafa en el lugar correcto." />
  {% endif %}
  <meta property="og:image" content="https://www.usa.gov/themes/custom/usagov/images/Logo_USAGov.png" />
  <meta property="og:image:secure_url" content="https://www.usa.gov/themes/custom/usagov/images/Logo_USAGov.png" />
  <meta name="referrer" content="no-referrer-when-downgrade" />
  <!-- End Social Media -->

  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "url": "https://usa.gov/",
      "logo": "https://www.usa.gov/themes/custom/usagov/images/Logo_USAGov.png"
    }
  </script>

  {% if faq %}
  {# Generate FAQ JSON #}
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "FAQPage",
      "mainEntity": [
        {% for item in faq %}
        {
          "@type": "Question",
          "name": "{{ item.question }}",
          "acceptedAnswer": {
            "@type": "Answer",
            "text": "{{ item.answer|replace({'\"': '\\\"'})|raw }}"
          }
        }{% if not loop.last %},
        {% endif %}
        {% endfor %}

      ]
    }
    </script>
    {% endif %}

</head>
<body{{ attributes }}>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe title="GTM" sandbox src="https://www.googletagmanager.com/ns.html?id=GTM-W8LW6DB"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
{#
  Keyboard navigation/accessibility link to main content section in
  page.html.twig.
#}
<a href="#skip-to-h1" class="usa-skipnav usa-sr-only focusable">
 {{ lang == 'en' ? 'Skip to main content'|t : 'Saltar al contenido principal'|t }}
</a>
{{ page_top }}
{{ page }}
{{ page_bottom }}
<js-bottom-placeholder token="{{ placeholder_token|raw }}">
{% if node.id is defined %}
  {{ node.field_footer_html.value|raw }}
{% endif %}

<!-- Needed_for_USA.gov_uptime_check -->

{% if lang == "en" %}
<script>
  //<![CDATA[
    var usasearch_config = { siteHandle:"usagov_all_gov" };
    var script = document.createElement("script");
    script.type = "text/javascript";
    script.src = "https://search.usa.gov/javascripts/remote.loader.js";
    document.getElementsByTagName("head")[0].appendChild(script);
  //]]>
  </script>
  {% elseif lang == "es" %}
  <script>
    //<![CDATA[
      var usasearch_config = { siteHandle:"usagov_es_internal" };
      var script = document.createElement("script");
      script.type = "text/javascript";
      script.src = "https://search.usa.gov/javascripts/remote.loader.js";
      document.getElementsByTagName("head")[0].appendChild(script);
    //]]>
    </script>
{% endif %}
<script>
  // Set a variable for our button element.
const scrollToTopButton = document.getElementById('back-to-top');

// Let's set up a function that shows our scroll-to-top button if we scroll beyond the height of the initial window.
const scrollFunc = () => {
  // Get the current scroll value
  let y = window.scrollY;

  // If the scroll value is greater than the window height, let's add a class to the scroll-to-top button to show it!
  if (y > 500) {
    scrollToTopButton.className = "stuck";
  } else {
    scrollToTopButton.className = "";
  }
};

window.addEventListener("scroll", scrollFunc);

const scrollToTop = () => {
  // Let's set a variable for the number of pixels we are from the top of the document.
  const c = document.documentElement.scrollTop || document.body.scrollTop;

  // If that number is greater than 0, we'll scroll back to 0, or the top of the document.
  // We'll also animate that scroll with requestAnimationFrame:
  // https://developer.mozilla.org/en-US/docs/Web/API/window/requestAnimationFrame
  if (c > 0) {
    window.requestAnimationFrame(scrollToTop);
    // ScrollTo takes an x and a y coordinate.
    // Increase the '10' value to get a smoother/slower scroll!
    window.scrollTo(0, c - c / 10);
  }
};

// When the button is clicked, run our ScrolltoTop function above!
// scrollToTopButton.onclick = function(e) {
 // e.preventDefault();
// scrollToTop();
// }

</script>

<!-- siteimprove usability -->
<script>
	/*<![CDATA[*/
	(function() {
	var sz = document.createElement('script'); sz.type = 'text/javascript'; sz.async = true;
	sz.src = '//siteimproveanalytics.com/js/siteanalyze_51567.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(sz, s);
	})();
	/*]]>*/
</script>
<!-- end siteimprove usability -->

<!-- begin code to remove tabindex from survey -->
<script>
  document.querySelectorAll(".usa-accordion__content").forEach((accordionContent) => {
    accordionContent.onbeforematch = () => {
      //accordionContent.removeAttribute("hidden");
      document.querySelector("[aria-controls='"+accordionContent.id+"']").setAttribute("aria-expanded", "true");
    };

  });
	// Select the node that will be observed for mutations
	//<![CDATA[
	var targetNode = document.getElementById('main-content');
	// Options for the observer (which mutations to observe)
	var config = { attributes: true, childList: true, subtree: true };

	// Callback function to execute when mutations are observed
	var callback = function(mutationsList, observer) {
		// Use traditional 'for loops' for IE 11
		for(let mutation of mutationsList) {
			if (mutation.type === 'childList') {
				// console.log('A child node has been added or removed.');
				document.querySelector(".QSIUserDefinedHTML")?.children[0].removeAttribute("tabindex");
				// Later, you can stop observing
				//observer.disconnect();
			}else if (mutation.type === 'attributes') {
				//console.log('The ' + mutation.attributeName + ' attribute was modified.');
				document.querySelectorAll(".usa-accordion__content[hidden='']").forEach((hiddenAccordion) => {
          hiddenAccordion.setAttribute("hidden", "until-found");
        });
			}
		}
	};

	// Create an observer instance linked to the callback function
	var observer = new MutationObserver(callback);

	// Start observing the target node for configured mutations
	observer.observe(targetNode, config);
	//]]>
	</script>
<!-- end code to remove tabindex from survey  -->

<!-- Needed_for_USA.gov_uptime_check -->
<script src="/themes/custom/usagov/scripts/modifyMobileNav.js"></script>
</body>
</html>
