{#
/**
* @file
* Override of system/menu.html.twig for a sidebar menu.
*/
* Available variables:
* - pagetype: The page type set by the taxonomy field in the cms. Brought into this twig file through the preprocess function usa_twig_vars_preprocess_menu__sidebar_first found in usa_twig_vars.module. Used to format pages that want to show the left side nav but not have a current item selected. (i.e when pagetype = Standard Page- Nav Hidden)
#}

{#
A short summary of the behavior of the sidebar nav:
- It can show up to 3 levels
- The levels shown depend on the existence of parents and children of the current page
- It will attempt to show parent, current page (plus siblings), and children
- If there are no children, it will try to show grandparent, parent, and current page (plus siblings)
#}

{% import _self as menus %}

{# {% set relatedPages = drupal_entity('node', items.url.routeParameters.node )['#node'].field_related_pages %} #}

{% if path('<current>') matches '#\/agencies\/.+#' or path('<current>') matches '#\/states\/.+#'%}
  {% include 'menu--agency-sidebar.html.twig' %}
{% elseif path('<current>') matches '#\/es\/agencias\/*#' or path('<current>') matches '#\/es\/estados\/*#'%}
  {% include 'menu--es-agency-sidebar.html.twig' %}
{% else %}
  {{ menus.explore(items, 0, null, null, null, pagetype) }}
{% endif %}

{#
The explore macro follows the active trail until it ends to determine the current page item.
During iteration, it keeps a record of the last 3 decsendants (parent, grandparent, greatgrandparent)
Next, it checks for the existence of children under the current page item to determine how many levels above the current page item the menu should start.
Then, it calls the build macro with:
- the starting item
- the number of levels between starting item and current page item
- the title of the current page item

TODO: remove menuLevel as it is no longer used
#}
{% macro explore(items, menuLevel, parent, grandparent, greatgrandparent, pageTypeIs ) %}

  {% set active_item = null %}

  {% for item in items %}
    {% if item.in_active_trail %}
      {% set active_item = item %}
      {# Skip children of the Federal Agencies view.
        We need them as nodes to trigger the menu, but don't want them all expanded out.
      #}
      {% if active_item.below|length > 50 %}
        {% set active_item = null %}
      {% else %}
        {{ menus.explore(item.below, menuLevel + 1, item, parent, grandparent , pageTypeIs) }}
      {% endif %}
    {% endif %}
  {% endfor %}

  {% if active_item == null %}
    {# parent is the current page #}
    {% set current_item = parent.title %}
    {% set start_item = null %}
    {% set start_level = 0 %}

    {% if items|length == 0 %}
      {# There are no children, start from grandparent (or 0 if no grandparent) #}
      {% if greatgrandparent %}
        {% set start_item = greatgrandparent %}
        {% set start_level = 2 %}
      {% elseif grandparent %}
        {% set start_item = grandparent %}
        {% set start_level = 1 %}
      {% else %}
        {% set start_item = parent %}
        {% set start_level = 0 %}
      {% endif %}
    {% else %}
      {# There are children, show them and start from parent (or 0 if no parent) #}
      {% if grandparent %}
        {% set start_item = grandparent %}
        {% set start_level = 1 %}
      {% else %}
        {% set start_item = parent %}
        {% set start_level = 0 %}
      {% endif %}
    {% endif %}

    {{ _self.build( start_item, 0, start_level, parent.title, pageTypeIs) }}

  {% endif %}

{% endmacro %}

{#
The build macro starts by adding the surrounding nav structure and the first item.
Next, it loops recursively through the children until there are no more children or the level bleow the current page item has been reached

TODO: come up with a better name than start_level. Its really the delta between the start_item and the current_item
#}
{% macro build(items, menuLevel, start_level, current_item_title, pageTypeIs ) %}

  {% if menuLevel == 0 %}
    <nav aria-label="Secondary navigation">
      <ul class="usa-sidenav">
        <li class="usa-sidenav__item">
          <a{% if start_level == 0 %} class="usa-current" aria-current="page" onclick="return false;" {% else %} href="{{ items.url }}" class="active-trail"{% endif %}>
            {{ items.title }}
          </a>
          {% if items.below %}
            {{ _self.build( items.below, 1, start_level, current_item_title, pageTypeIs) }}
          {% endif %}
        </li>
      </ul>
    </nav>
  {% elseif items|length  %}
    <ul class="usa-sidenav__sublist">
      {% for item in items %}
        <li class="usa-sidenav__item">
          {% if (item.title == current_item_title) and (pageTypeIs != 'Standard Page- Nav Hidden') %}
            <a class="usa-current" aria-current="page" onclick="return false;" href="{{ item.url }}" class="active-trail">
          {% else %}
            <a  href="{{ item.url }}" {% if item.in_active_trail == 1 %} class="active-trail" {% endif %} >
          {% endif %}
            {{ item.title }}
          </a>
          {% if item.below and item.in_active_trail and menuLevel < start_level or item.title == current_item_title %}
            {# if there are items and we haven't reached the current item or this is the current item #}
            {{ _self.build( item.below, menuLevel + 1, start_level, current_item_title, pageTypeIs) }}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}

{% endmacro %}