{% set lang = node.langcode.value %}
{{ content.field_page_intro }}
{{ content.body }}
<div class="usagov-directory-table">
  <div>
    <h3 class="usa-prose">{{ lang == 'en' ? 'State government website' : 'Sitio web del Gobierno estatal ' }}</h3>
    {{ content.field_website }}
  </div>

  {% if lang == 'en' %}
    <div>
      <ul class="usa-list usa-list--unstyled">
        <h3 class="usa-prose">Governor</h3>
        {{ content.field_governor }}<br>
        {{ content.field_governor_contact }}
        <p class="usagov-dir-padding">Phone: {{ content.field_phone_number }}</p>
        {% if content.group_main_address %}
        {% set address = content.group_main_address %}
          <p class="usagov-dir-padding">Main address:</p>
          {{ address.field_street_1 }}
          {% if address.field_street_2|render %}
          <br>{{ address.field_street_2 }}
          {% endif %}
          {% if address.field_street_3|render %}
          <br>{{ address.field_street_3 }}
          {% endif %}
          {% if address.field_city|render %}
          <br>{{ address.field_city }}
          {% endif %}
          {% if address.field_state_abbr|render or address.field_zip|render %}
          , {{ address.field_state_abbr }} {{ address.field_zip }}
          {% endif %}
        {% endif %}
      </ul>
    </div>
  {% endif %}

  <div>
    <h3 class="usa-prose">{{ lang == 'en' ? 'Congress members' : 'Congresistas' }}</h3>
    <a href="/elected-officials">Find the names and contact information for your elected officials</a>
  </div>

  <div>
    <h3 class="usa-prose">{{ lang == 'en' ? 'State agencies' : 'Agencias estatales' }}</h3>
    {% if content.field_consumer_protection|render %}
    {{ content.field_consumer_protection }}<br>
    {% endif %}

    {% if content.field_corrections_dept|render %}
    {{ content.field_corrections_dept }}<br>
    {% endif %}

    {% if content.field_local_governments|render %}
    {{ content.field_local_governments }}<br>
    {% endif %}

    {% if content.field_district_attorneys|render %}
    {{ content.field_district_attorneys }}<br>
    {% endif %}

    {% if content.field_education_department|render %}
    {{ content.field_education_department }}<br>
    {% endif %}

    {% if content.field_election_office|render %}
    {{ content.field_election_office }}<br>
    {% endif %}

    {% if content.field_emergency_management|render %}
    {{ content.field_emergency_management }}<br>
    {% endif %}

    {% if content.field_health_department|render %}
    {{ content.field_health_department }}<br>
    {% endif %}

    {% if content.field_motor_vehicle_office|render %}
    {{ content.field_motor_vehicle_office }}<br>
    {% endif %}

    {% if content.field_social_services|render %}
    {{ content.field_social_services }}<br>
    {% endif %}
  </div>

</div>
