{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}

{%
  set classes = [
    'content-wrapper',
  ]
%}
{% set term_name = "" %}
{% if node.field_page_type.0 != null %}
	{% set term_name = drupal_field('name', 'taxonomy_term', node.field_page_type.0.target_id)[0]['#context']['value'] %}
{% endif %}

{# field_navigation_banner_image #}
{% if term_name == "Life Events" or term_name == "Life Events Landing Page" or term_name == "Navigation Cards Page"%}
	{% set lang = node.langcode.value %}
	{% if node.field_navigation_banner_image.value %}
		{% set image_uri = node.field_navigation_banner_image|file_uri %}
		{% if image_uri is not null %}
			<section class="usa-hero usagov-hero{{ term_name == 'Navigation Cards Page' ? '' : ' le-image' }}" aria-label="Introduction" style="background-image: url({{ file_url(image_uri|image_style('webp')) }})">
				{% if term_name == "Life Events" or term_name == "Life Events Landing Page" %}
					</section>
				{% else %}
				<div class="grid-container">
					<div class="grid-row grid-gap-1">
						<div class="tablet:grid-col-6 tablet-lg:grid-col-4">
							<div class="usa-hero__callout usagov-hero__callout">
								<h2 class="usa-hero__heading"><span class="usa-hero__heading--alt">{{ lang == 'es' ? 'Lo más popular' : 'Most popular' }}</h2>
								<ul>
									{% for link in node.field_hero_links %}
										<li><a href="{{ link.url }}">{{link.title}}</a></li>
									{% endfor %}
								</ul>
							</div>
						</div>
					</div>
				</div>
				</section>
				{% endif %}
		{% endif %}
	{% endif %}
{% endif %}

	{{ title_prefix }}
	{% if not page %}
		<h2{{title_attributes}}>
			<a href="{{ url }}" rel="bookmark">{{ label }}</a>
		</h2>
	{% endif %}
	{{ title_suffix }}

	{% if display_submitted %}
		<footer>
			{{ author_picture }}
			<div{{author_attributes}}>
				{% trans %}Submitted by
				{{ author_name }}
				on
				{{ date }}{% endtrans %}
				{{ metadata }}
			</div>
		</footer>
	{% endif %}

	<div{{content_attributes.addClass(classes)}}>
		{% if term_name == "Navigation Cards Page" %}
            {{ content.body }}
            {{ content.field_page_intro }}
      {% if (usagov_show_benefits_landing_block) %}
        {% include directory ~ '/templates/includes/nav-benefits-block.html.twig' %}
      {%  endif  %}
    {% elseif term_name == "Benefits Category Search" %}
      <div class="benefits-finder-content">
        {{ content }}
      </div>
      {% else %}
        {{ content }}
    {% endif %}
	</div>
{% if term_name == "State Office Page" %}
	{% set lang = node.langcode.value %}

	{% if lang == 'es' %}
		{{ drupal_view('50_state_pages', '50_state_pages_block_spanish', node.field_50_state_pages_type.value) }}
	{% else %}
		{{ drupal_view('50_state_pages', '50_state_pages_block', node.field_50_state_pages_type.value) }}
	{% endif %}
{%  elseif term_name == "Benefits Category Search" %}
    {% include directory ~ '/templates/includes/benefits-search.html.twig' %}
{% endif %}
