{# {{dd()}} #}
<p class="usa-intro">
  {{content["field_page_intro"][0]}}
</p>
<table class="usagov-directory-table">

  <tr>
    <td>
      <h3>Website</h3>
      <a>{{content["field_official_website_primary"][0]}}</a>
    </td>
  </tr>

  <tr>
    <td>
      <h3>Contact</h3>
      <ul class="usa-list">
          <li><a href=/>{{content["field_contact_link"][0]}}</a></li>
          {% for key, obj in content["field_contact_link_additional"] %}
            {% if key matches '/^\\d+$/' %}
                <li><a href=/>{{content["field_contact_link_additional"][key]}}</a></li>
            {% endif %}
          {% endfor %}
      </ul>
    </td>
  </tr>

  <tr>
    <td>
      <h3>Phone Number</h3>
      <p>{{content["field_phone_number"][0]}}</p>
    </td>
  </tr>

  <tr>
    <td>
      <h3>Find an Office Near You</h3>
        <div class="usa-list">
          {{content["field_offices_near_you"][0]}}
        </div>
    </td>
  </tr>

  <tr>
    <td>
      <h3>Main Address</h3>
      {% for key, obj in content["field_street_1"] %}
        {% if key matches '/^\\d+$/' %}
          <p>{{content["field_street_1"][0]}}</p>
        {% endif %}
      {% endfor %}
      {% for key, obj in content["field_street_2"] %}
        {% if key matches '/^\\d+$/' %}
          <p>{{content["field_street_2"][0]}}</p>
        {% endif %}
      {% endfor %}
      {% for key, obj in content["field_street_3"] %}
        {% if key matches '/^\\d+$/' %}
          <p>{{content["field_street_3"][0]}}</p>
        {% endif %}
      {% endfor %}
    </td>
  </tr>

</table>