{% set lang = node.langcode.value %}
{{ content.field_page_intro }}
{{ content.body }}
<div class="usagov-directory-table" id="Federal-Directory-Table">
  {% if content.field_website|render %}
  <div>
    <h2 class="usa-prose line-height-2">{{ lang == 'en' ? 'Website' : 'Sitio web' }}</h2>
    {{ content.field_website }}
  </div>
  {% endif %}

  {% if content.field_contact_link|render %}
  <div>
    <h2 class="usa-prose line-height-2">{{ lang == 'en' ? 'Contact' : 'Contacto' }}</h2>
    {{ content.field_contact_link }}
  </div>
  {% endif %}

  {% if content.field_phone_number|render %}
  <div>
    <h2 class="usa-prose line-height-2">{{ lang == 'en' ? 'Phone number' : 'Teléfono' }}</h2>
    {{content.field_phone_number}}
  </div>
  {% endif %}

  {% if content.field_toll_free_number|render %}
  <div>
    <h2 class="usa-prose line-height-2">{{ lang == 'en' ? 'Toll-free number' : 'Número de teléfono gratuito' }}</h2>
    {{content.field_toll_free_number}}
  </div>
  {% endif %}

  {% if content.field_tty_number|render %}
  <div>
    <h2 class="usa-prose line-height-2">{{ lang == 'en' ? 'TTY' : 'TTY (para personas con problemas auditivos)' }}</h2>
    {{content.field_tty_number}}
  </div>
  {% endif %}

  {% if content.field_email|render %}
  <div>
    <h2 class="usa-prose line-height-2">Email</h2>
    {{content.field_email}}
  </div>
  {% endif %}

  {% if content.field_offices_near_you|render %}
  <div>
    <h2 class="usa-prose line-height-2">{{ lang == 'en' ? 'Find an office near you' : 'Encuentre una oficina cercana' }}</h2>
    {{content.field_offices_near_you}}
  </div>
  {% endif %}

  {% if content.group_main_address %}
  {% set address = content.group_main_address %}
  <div>
    <h2 class="usa-prose line-height-2">{{ lang == 'en' ? 'Main address' : 'Dirección' }}</h2>
    {{ address.field_street_1 }}
    {% if address.field_street_2|render %}
    <br>{{ address.field_street_2 }}
    {% endif %}
    {% if address.field_street_3|render %}
    <br>{{ address.field_street_3 }}
    {% endif %}
    {% if address.field_city|render %}
    <br>{{ address.field_city}}
    {% endif %}
    {% if address.field_state_abbr|render or address.field_zip|render %}
    {{ address.field_state_abbr }} {{ address.field_zip }}
    {% endif %}
  </div>
  {% endif %}

  {% if content.field_popular_services|render %}
  <div>
    <h2 class="usa-prose line-height-2">{{ lang == 'en' ? 'Popular services' : 'Servicios más solicitados' }}</h2>
    {{ content.field_popular_services }}
  </div>
  {% endif %}
</div>
