<div class="main-grid">
	<div class="banner-wrapper">
		<div class="banner_div">
			<img class="banner" src="{{file_url(node.field_navigation_banner_image.entity.field_media_image.entity.fileuri)}}"/>

		</div>
	</div>
	<div class="welcome-box">
		<h1>{{ node.title.value }}</h1>
		<p>{{ node.body.value | raw}}</p>

	</div>
	<div class="blue-back"></div>
	<div class="how-box">
		<h2>How do I...</h2>
		<div class="how-button-list">
			{% for link in node.field_homepage_top_links %}
				<div class="how-button">
					<a href={{link.uri}}>
						{{link.title}}
					</a>
				</div>
			{% endfor %}
		</div>
		<p></p>
	</div>
	<div class="life-events">
		{% include directory ~ '/templates/includes/alltopicsjump.html.twig' %}
		<h2>Life Events</h2>
		<p>
			Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur quos ducimus nobis omnis magnam doloremque consectetur fugit eum labore est ipsam soluta suscipit voluptates maxime dolore officiis mollitia laudantium accusamus, veniam explicabo blanditiis aliquam. Nobis non, sint magni laborum sunt autem eligendi minima sit placeat saepe?
    </p>
		<div class="life-events-carousel">
			{% include directory ~ '/templates/includes/life-events-carousel.html.twig' %}
		</div>
		{% include directory ~ '/templates/includes/alltopicsjump.html.twig' %}


	</div>

	<div class="all-topics-header" id="all-topics-header">
		<h2>All Topics and Services</h2>
	</div>
	<div class="all-topics">
		<p></p>
	</div>
</div>
