
{% set exclusions = [
    '/usagov-beta',
    '/about-the-us',
    '/money',
    '/money-and-credit',
    '/laws-and-legal-issues',
    '/scams-and-frauds',
    '/es',
    '/es/betausagoves',
    '/es/betausagoves-0',
    '/es/acerca-de-estados-unidos',
    '/es/dinero',
    '/es/dinero-y-credito',
    '/es/leyes-y-asuntos-legales',
    '/es/estafas-y-fraudes'
] %}
{% set nodeID = node.nid[0].value %}
{% set path = drupal_url('node/'~nodeID) %}

{% if path|render not in exclusions %}
    {% set facebook = 'http://www.facebook.com/sharer/sharer.php?u=' %}
    {% set twitter = 'http://twitter.com/intent/tweet?source=webclient&text=' %}
    {% set email = 'mailto:?subject=' %}

    {% set baseURL = url('<front>') %}
    {% set url = baseURL|render~path|render[1:] %}


    <div id="sm-share">
        <span id="share-page">{{ lang == 'en' ? "SHARE THIS PAGE:" : "Comparta esta página:" }}</span>
        <div>
            <a id="fb" href="{{ facebook }}{{ url }}&v=3">
            <img aria-labelledby="share-page fb" src="/themes/custom/usagov/images/facebook.png" alt="Facebook" />
            </a>
            <a id="twr" href="{{ twitter }}{{ url }}">
            <img aria-labelledby="share-page twr" src="/themes/custom/usagov/images/twitter.png " alt="Twitter" />
            </a>
            <a id="em" href="{{ email }}{{ url }}">
            <img aria-labelledby="share-page em" src="/themes/custom/usagov/images/email.png" alt="Email"/>
            </a>
        </div>
    </div>

{% if (term_name == "Standard Page") or (term_name == "Standard Page- Nav Hidden") or (term_name == "") or (content_type == "wizard") or (content_type == "wizard_step") %}

    <div class="border-top-05  border-base-lightest"></div>
    {% endif %}
{% endif %}
