{% set exclusions = [
    '/usagov-beta',
    '/about-the-us',
    '/money',
    '/money-and-credit',
    '/laws-and-legal-issues',
    '/scams-and-frauds',
    '/es',
    '/es/betausagoves',
    '/es/betausagoves-0',
    '/es/acerca-de-estados-unidos',
    '/es/dinero',
    '/es/dinero-y-credito',
    '/es/leyes-y-asuntos-legales',
    '/es/estafas-y-fraudes'
] %}
{% set nodeID = node.nid[0].value %}
{% set path = drupal_url('node/'~nodeID) %}

{% if path|render not in exclusions %}
	{% set facebook = 'https://www.facebook.com/sharer/sharer.php?u=' %}
	{% set twitter = 'https://twitter.com/intent/tweet?source=webclient&text=' %}
	{% set email = 'mailto:?subject=' %}
	{% set baseURL = url('<front>') %}
	{% set url = baseURL|render~path|render[1:] %}

	<div id="sm-share">
		<span id="share-page">{{ lang == 'en' ? "SHARE THIS PAGE:" : "COMPARTA ESTA PÁGINA:" }}</span>
		<div class="share-icons">
			<a aria-labelledby="share-page fb" href="{{ facebook }}{{ url }}&v=3">
				<div class="share-icon-div">
					<img class="share-icon" id="fb" src="/themes/custom/usagov/images/social-media-icons/Facebook_Icon.svg" alt="Facebook"/>
				</div>
			</a>
			<a aria-labelledby="share-page twr" href="{{ twitter }}{{ url }}">
				<div class="share-icon-div">
					<img class="share-icon" id="twr" src="/themes/custom/usagov/images/social-media-icons/X_Twitter_Icon.svg " alt="X Twitter USAGov"/>
				</div>
			</a>
			<a aria-labelledby="share-page em" href="{{ email }}{{ url }}">
				<div class="share-icon-div">
					<img class="share-icon" id="em" src="/themes/custom/usagov/images/social-media-icons/Email_Icon.svg" alt="Email"/>
				</div>
			</a>
		</div>
	</div>

	{% if (term_name == "Standard Page") or (term_name == "Standard Page- Nav Hidden") or (term_name == "") or (content_type == "wizard") or (content_type == "wizard_step") %}

		<div class="border-top-05  border-base-lightest"></div>
	{% endif %}
{% endif %}
