{#
/**
 * @file
 * Default theme implementation to display a list of summary lines.
 *
 * Available variables:
 * - rows: The rows contained in this view.
 *   Each row contains:
 *   - url: The summary link URL.
 *   - link: The summary link text.
 *   - count: The number of items under this grouping.
 *   - attributes: HTML attributes to apply to each row.
 *   - active: A flag indicating whether the row is active.
 * - options: Flags indicating how the summary should be displayed.
 *   This contains:
 *    - count: A flag indicating whether the count should be displayed.
 *
 * @see template_preprocess_views_view_summary()
 *
 * @ingroup themeable
*/
#}
{% set is_directory = view.element['#name']|slice(0, 16) == 'federal_agencies' %}
{% if is_directory %}
  {# TODO: move this into a pre-process hook? #}
  {% set current_letter = view.request.query.get('letter') ?: 'a' %}
<div class="usagov-directory-page-container">
  <p class="usa-intro">
    Find contact information for U.S. federal government departments and agencies including websites, 
    emails, phone numbers, addresses, and more.
    <a href="https://www.usa.gov/states-and-territories" class="intro-links">
      Get contact information for each state and territory.
    </a>
  </p>
{% endif %}
<div {{is_directory ? ' class="usagov-directory-container"' }}>
  <ul class="usagov-directory-container-az">
    {% for row in rows %}
      <li>
        {% set row_is_active = current_letter == row.link|lower %}
        {% if row_is_active %}
          <a {{row.attributes.addClass("is-active")}}>{{ row.link }}</a>
        {% else %}
          <a href="/federal-agencies?letter={{ row.link|lower }}">{{ row.link }}</a>	  
	{% endif %}  
        {% if options.count %}
          ({{ row.count }})
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  <div><hr class="bl-divider"></div>
  <!-- Search Bar -->
  <div class="usagov-directory-search-container">
    <p>OR</p>
    <section aria-label="Small search component">
        <form class="fed-directory-search-bar" role="search">
          <label id="fedGallerySearch" class="usa-sr-only" for="search-field-en-small">Fed Gallery Search</label>
          <input
              class="usa-input fed-directory-search-input"
              id="search-field-en-small"
              aria-labelledby="fedGallerySearch"
              type="search"
              placeholder="Search for a Federal Agency"
              onfocus="this.placeholder"
              autocomplete="off"
          />
          <button class="fed-directory-search-btn" type="submit">
            <img src="/themes/custom/usagov/images/search--dark.svg" alt="Search">
          </button>
        </form>
    </section>
  </div>
</div>
