{#
/**
 * @file
 * Default theme implementation to display a list of summary lines.
 *
 * Available variables:
 * - rows: The rows contained in this view.
 *   Each row contains:
 *   - url: The summary link URL.
 *   - link: The summary link text.
 *   - count: The number of items under this grouping.
 *   - attributes: HTML attributes to apply to each row.
 *   - active: A flag indicating whether the row is active.
 * - options: Flags indicating how the summary should be displayed.
 *   This contains:
 *    - count: A flag indicating whether the count should be displayed.
 *
 * @see template_preprocess_views_view_summary()
 *
 * @ingroup themeable
*/
#}

{% set is_directory = view.element['#name'] == 'federal_agencies' %}
{% if is_directory %}
<div class="usagov-directory-page-container">
  <p class="usa-intro">
    Find contact information for U.S. federal government departments and agencies including websites, 
    emails, phone numbers, addresses, and more.
    <a href="https://www.usa.gov/states-and-territories">
      Get contact information for each state and territory.
    </a>
  </p>
{% endif %}
  
<div {{is_directory ? ' class="usagov-directory-container"' }}>
  <ul class="usagov-directory-container-az">
    {% for row in rows %}
        <li><a href="{{ row.url }}"{{ row.attributes.addClass(row.active ? 'is-active')|without('href') }}>{{ row.link }}</a>
        {% if options.count %}
          ({{ row.count }})
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  <div><hr class="bl-divider"></div>
  <!-- Search Bar -->
  <div class="usagov-directory-search-container">
    <p>OR</p>
    {# TODO: add remaining search bar component #}
  <div>
</div>

{% if is_directory %}
</div>
{% endif %}
