{#
/**
 **************************************************
 * This is USAgov-customized code for the federal agencies directory.
 **************************************************
 *
 * @file
 * Default view template to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe. (Also, it seems never to be populated? -akf)
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 *
 * @ingroup themeable
 */
#}

{% set lang = row._entity.langcode.value %}
{% set UTitle = 'dr-' ~ fields.title.content|striptags|trim %}
{% set UID = fields.nid.content|striptags|trim %}

<h2 class="usa-accordion__heading">
  <button
    aria-controls="{{- UTitle|replace({' ': '-'}) -}}"
    data-agency-name="{{- UTitle|replace({' ': '-'}) -}}"
    data-node-id="{{- UID -}}"
    aria-expanded="false"
    class="usa-accordion__button"
    >
    {{- fields.title.content -}}
    {% if fields.field_acronym.content|striptags|trim %}
        ({{- fields.field_acronym.content|striptags|trim -}})
    {% endif %}
  </button>
</h2>

<div class="usa-accordion__content usa-fed-accordion__content usa-prose" id="{{- UTitle|replace({' ': '-'}) -}}" data-node-id="{{- UID -}}" hidden="until-found">
  <p>{{- fields.field_page_intro.content -}}</p>

  {% if fields.field_website.content|striptags|trim %}
  <div class="agency-first-field">
    <p class="agency-index-label">{{ lang == 'en' ? 'Website' : 'Sitio web' }}:&nbsp;</p>
    <p class="field--name-field-website">{{- fields.field_website.content -}}</p>
  </div>
  {% endif %}

  {% if fields.field_phone_number.content|striptags|trim %}
  <div class="agency-fields">
    <p class="agency-index-label">{{ lang == 'en' ? 'Phone number' : 'Teléfono' }}:&nbsp;</p>
    <p class="phoneNumberField field--name-field-phone-number">{{- fields.field_phone_number.content -}}</p>
  </div>
  {% endif %}

  {% if fields.field_contact_link.content|striptags|trim %}
  <div class="agency-fields">
    <p class="agency-index-label">{{ lang == 'en' ? 'Contact' : 'Contacto' }}:&nbsp;</p>
    <p class="field--name-field-contact-link">{{- fields.field_contact_link.content -}}</p>
  </div>
  {% endif %}

  {% if fields.field_offices_near_you.content|striptags|trim %}
  <div class="agency-fields">
    <p class="agency-index-label">{{ lang == 'en' ? 'Find an office near you' : 'Encuentre una oficina cercana' }}:&nbsp;</p>
    <div class="field--name-field-offices-near-you">{{- fields.field_offices_near_you.content -}}</div>
  </div>
  {% endif %}

  {% if fields.nothing.content|striptags|trim %}
    <div class="agency-fields">
      <p class="field--name-field-more-information">
      {# {{- fields.nothing.content -}} #}
        <a href={{- fields.nothing.content|striptags|trim -}} > {{ lang == 'en' ? ' More information about ' : 'Más información sobre ' }} {{ fields.title.content  }}&nbsp; ></a>
      </p>
    </div>
  {% endif %}

</div>
