{#
/**
 * @file
 * Theme override for a view template to display a list of rows.
 *
 * Available variables:
 * - attributes: HTML attributes for the container.
 * - rows: A list of rows for this list.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's contents.
 * - title: The title of this group of rows. May be empty.
 * - list: @todo.
 *   - type: Starting tag will be either a ul or ol.
 *   - attributes: HTML attributes for the list element.
 *
 * @see template_preprocess_views_view_list()
 */
#}

{% set lang = node.langcode.value %}
{% set term_name = "" %}
{% if node.field_page_type.0 != null %}
    {% set term_name = drupal_field('name', 'taxonomy_term', node.field_page_type.0.target_id)[0]['#context']['value'] %}
{% endif %}

{% if term_name == "Navigation Page" %}

<ul class="usa-list usa-list--unstyled">
{% for row in rows %}
<li class="usagov-navpage-item">
  <a href="{{ drupal_url('node/' ~ row.content["#row"].nid) }}" class="text-no-underline">
    {{- row.content -}}
  </a>
</li>
{% endfor %}
</ul>

{% elseif term_name == "Navigation Cards Page" %}


<div class="usagov-cards margin-top-3">
  <ul class="usa-card-group">
    {% for row in rows %}
    <li class="tablet:grid-col-4 usa-card">
      <a href="{{ drupal_url('node/' ~ row.content["#row"].nid) }}" class="usa-card__container usagov-card text-no-underline">
        {{- row.content -}}
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
{% if lang == "en" %}
<p><span class="text-bold">Looking for something else?</span> <a href="/">Explore All Topics and Services</a></p>
{% else %}
<p><span class="text-bold">¿Busca algo más?</span> <a href="/es">Encuentre más temas y servicios</a></p>
{% endif %}

{% elseif term_name == "Standard Page" %}
{# standard_page #}
{% endif %}

{% if view.current_display == "block_4" %}
  {# block_4 is the intro_page display for this view which is used on the homepage #}
  <div class="usagov-cards">
    <ul class="usa-card-group">
      {% for row in rows %}

        {% set css_icon = row.content["#row"].node__field_css_icon_field_css_icon_value %}
        {% if css_icon == null %}
          {% set css_icon = "" %}
        {% else %}
          {% set css_icon = "topic-icon " ~ css_icon %}
        {% endif %}
        <li class="tablet:grid-col-6 usa-card">
          <a href="{{ drupal_url('node/' ~ row.content["#row"].nid) }}" class="usa-card__container usagov-card text-no-underline {{css_icon}}">
            {{- row.content -}}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>


  {% if lang == "en" %}
    <p><span class="text-bold">Looking for our main site?</span> Visit <a href="https://www.usa.gov">USA.gov</a></p>
  {% elseif lang == "es" %}
    <p><span class="text-bold">¿Busca nuestro sitio web principal?</span> Visite <a href="https://www.usa.gov/espanol/">Usa.gov/espanol</a></p>
  {% endif %}
{% endif %}