{#
/**
 * @file
 * Default theme implementation for a view template to display a list of rows.
 *
 * Available variables:
 * - attributes: HTML attributes for the container.
 * - rows: A list of rows for this list.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's contents.
 * - title: The title of this group of rows. May be empty.
 * - list: @todo.
 *   - type: Starting tag will be either a ul or ol.
 *   - attributes: HTML attributes for the list element.
 *
 * @see template_preprocess_views_view_list()
 *
 * @ingroup themeable
 */
#}
{% set lang = node.langcode.value %}

{% if node.field_benefits_search_id.value is empty %}
  {% set search_id = '' %}
{% else %}
  {% set search_id = node.field_benefits_search_id.value | trim %}
{% endif %}

{% if lang == 'en' %}
  {% set submit_label = "Apply selections" %}
  {% set reset_label = "Clear selections" %}
  {% set select_all_label = "Select all" %}
  {% set aria_results_label = "Matching items" %}
{% elseif lang == 'es' %}
  {% set submit_label = "Aplicar selecciones" %}
  {% set reset_label = "Borrar selecciones" %}
  {% set select_all_label = "Seleccionar todo" %}
  {% set aria_results_label = "Resultados" %}
{% endif %}

<div class="benefits-category-list" id="{{ search_id }}">
  <form id="benefitSearch" action="javascript:void(0)">

    <fieldset>
      {% if node.field_benefits_search_title.value | render %}
        <legend><h2 id="categories-label">{{ node.field_benefits_search_title.value }}</h2></legend>
      {% endif %}
      {% if node.field_benefits_search_descr.value | render %}
        <p id="categories-description">{{ node.field_benefits_search_descr.value }}</p>
      {% endif %}

      <div class="alert-container" aria-live="polite"></div>

      <div role="group" class="grid-row" aria-labelledby="categories-label" aria-describedby="categories-description">
        <div class="usa-checkbox benefits-category-list-checkbox-all">
          <input class="usa-checkbox__input display-inline-block margin-right-1"
                 type="checkbox"
                 value="all"
                 id="benefit-category-toggle-all"
          >
          <label class="usa-checkbox__label"
                 for="benefit-category-toggle-all"
          >{{ select_all_label }}</label>
        </div>
        <div class="benefits-category-list-checkbox-cols">
          <ul class="usa-list--unstyled">
          {% for row in rows %}
              <li>{{- row.content -}}</li>
          {% endfor %}
          </ul>
        </div>
      </div>
    </fieldset>
    <div class="button-group margin-top-2">
      <button class="usa-button" type="submit">{{ submit_label }}</button>
      <button class="usa-button usa-button--secondary" type="reset">{{ reset_label }}</button>
    </div>
  </form>
</div>

<div id="matchingBenefits" class="benefits-search-results"></div>
