<style>
	.homepage-cards {
		background-color: #E5F8FD;
	}

	.homepage-cards .usa-card-group {

		max-width: 960px;
		margin-right: auto;
		margin-left: auto;
		display: flex;
		justify-content: center;

	}

	.homepage-cards .usa-card {
		padding: 0;
		margin-right: 12px;
		max-width: 194px;

	}
	.homepage-card a {
		text-decoration: none;

	}
	.homepage-card-container {
		background-color: #FFFFFF;

		border-color: #707070;

		border-radius: 3px;
		box-shadow: 0 3px 6px rgb(122 122 122 / 154);
		margin: 0 auto;
		padding: 100px 0 0;

	}

	.homepage-card-container h2,
	.homepage-card-container p {


		font-size: 17.6px;
		color: #1b1b1b;
		font-family: "Source Sans Pro Web", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
	}


	.homepage-card-container h2 {
		text-transform: uppercase;
		font-weight: bold;
	}

	/* Mobile */
	@media(max-width: 480px) {
		.homepage-cards .usa-card {
			padding: 0;
			margin-right: auto;
			margin-left: auto;

			max-width: 300px;

		}
	}
</style>

{#
/**
 * @file
 * Theme override for a view template to display a list of rows.
 *
 * Available variables:
 * - attributes: HTML attributes for the container.
 * - rows: A list of rows for this list.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's contents.
 * - title: The title of this group of rows. May be empty.
 * - list: @todo.
 *   - type: Starting tag will be either a ul or ol.
 *   - attributes: HTML attributes for the list element.
 *
 * @see template_preprocess_views_view_list()
 */
#}

{% set lang = node.langcode.value %}
{% set term_name = "" %}
{% if node.field_page_type.0 != null %}
	{% set term_name = drupal_field('name', 'taxonomy_term', node.field_page_type.0.target_id)[0]['#context']['value'] %}
{% endif %}

{% if term_name == "Navigation Page" %}

	<ul class="usa-list usa-list--unstyled">
		{% for row in rows %}
			<li class="usagov-navpage-item">
				<a href="{{ drupal_url('node/' ~ row.content["#row"].nid) }}" class="text-no-underline">
					{{- row.content -}}
				</a>
			</li>
		{% endfor %}
	</ul>

{% elseif term_name == "Navigation Cards Page" or term_name == "Life Events" or term_name == "Life Events Landing Page" %}

	<div class="usagov-cards margin-top-3">
		<ul class="usa-card-group">
			{% for row in rows %}
				<li class="tablet:grid-col-4 usa-card">
					<a href="{{ drupal_url('node/' ~ row.content["#row"].nid) }}" class="usa-card__container usagov-card text-no-underline">
						{% if term_name == "Life Events Landing Page" %}
							<div class="life-events-landing-page-card-image" style="background-image: url({{file_url(row.content[" #row"]._entity.field_navigation_banner_image.entity.field_media_image.entity.fileuri)}})"></div>
							<div class="life-events-landing-page-card-title">{{row.content["#row"].node_field_data_title}}</div>
						{% else %}
							{{- row.content -}}
						{% endif %}
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>
	{% if lang == "en" %}
		<p>
			<span class="text-bold">Looking for something else?</span>
			<a href="/">Explore all topics and services</a>
		</p>
	{% else %}
		<p>
			<span class="text-bold">¿Busca algo más?
				<a href="/es">Encuentre más temas y servicios</a>
			</span>
		</p>
	{% endif %}

{% elseif term_name == "Home Page" %}
	<div class=" homepage-cards">

		<ul class="usa-card-group">
			{% for row in rows %}
				{# {{ devel_breakpoint() }} #}

				<li class="usa-card tablet:grid-col-3 homepage-card">
					<a href="{{ drupal_url('node/' ~ row.content["#row"].nid) }}">

						<div class="usa-card__container homepage-card-container">

							<div class="usa-card__header">
								<h2 class="usa-card__heading">{{row.content["#row"].node_field_data_title}}</h2>

							</div>
							<div class="usa-card__body">
								<p>
									{{row.content["#row"].node__field_page_intro_field_page_intro_value}}
								</p>

							</div>

						</div>
					</a>


				</li>
			{% endfor %}

		</ul>
	</div>

{% endif %}

{% if view.current_display == "block_4" and term_name != "Home Page"%}

	{# block_4 is the intro_page display for this view which is used on the homepage #}
	<div class="usagov-cards">
		<ul class="usa-card-group">
			{% for row in rows %}

				{% set css_icon = row.content["#row"].node__field_css_icon_field_css_icon_value %}
				{% if css_icon == null %}
					{% set css_icon = "" %}
				{% else %}
					{% set css_icon = "topic-icon " ~ css_icon %}
				{% endif %}
				<li class="tablet:grid-col-6 usa-card">
					<a href="{{ drupal_url('node/' ~ row.content["#row"].nid) }}" class="usa-card__container usagov-card text-no-underline {{css_icon}}">
						{{- row.content -}}
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>


	{% if lang == "en" %}
		<p>
			<span class="text-bold">Looking for our main site?</span>
			Visit
			<a href="https://www.usa.gov">USA.gov</a>
		</p>
	{% elseif lang == "es" %}
		<p>
			<span class="text-bold">¿Busca nuestro sitio web principal?</span>
			Visite
			<a href="https://www.usa.gov/espanol/">USA.gov/espanol</a>
		</p>
	{% endif %}
{% endif %}
