{#
/**
**/
#}
{% if view.title == "Life Events Carousel"%}
<div class="life_events_card_text">
	<h3 class="usa-card__heading usagov-card__heading carouselHeaders">
		{{row.node_field_data_title}}
	</h3>
	<p class="usa-card__body padding-right-0 padding-left-0 padding-bottom-0 usa-prose">
		{% set short_description = row.node__field_short_description_field_short_description_value %}
		{% if short_description != null %}
			{{short_description}}
		{% else %}
			{% set page_intro = row._entity.field_page_intro.value %}
			{% if page_intro != null %}
				{{page_intro}}
			{% endif %}
		{% endif %}
	</p>
	</div>
	<div class="thumbnailDiv">
		{% set image_card_uri = row._entity.field_navigation_banner_image.entity.field_media_image.entity.fileuri %}
		{% set image_card_alt = row._entity.field_navigation_banner_image.entity.field_media_image.alt %}
		<img class="thumbnailBanner" alt="{{image_card_alt}}" src="{{file_url(image_card_uri|image_style('max_480w'))}} width="252" height="75" loading="lazy"/>
	</div>
{% endif %}
