{# this is the equivalent of the old menus.explore macro #}
{# TODO - handle no start page (error page) leading to this page #}
{# TODO - Skip children of the Federal Agencies view. #}
{# TODO - There are no children, start from grandparent (or 0 if no grandparent) #}
{# TODO - There are children, show them and start from parent (or 0 if no parent)  #}
{# TODO - Mark usa-current page, make it not click#}
{# TODO - pagetype comes from usa_twig_vars #}

{% if start_item %}
  {% if depth == 0 %}
    <nav aria-label="{{ nav_aria_label }}">
      <ul class="usa-sidenav">
        <li class="usa-sidenav__item">
          {{ _self.item_link(start_item, current, is_spanish_menu, page_type_is) }}
          {% if start_item.below %}
            {{ include('usagov-menu-sidebar.html.twig', {
              items: start_item.below,
              depth: depth + 1,
              current: current,
              page_type_is: page_type_is,
              is_spanish_menu: is_spanish_menu,
            }) }}
          {% endif %}
        </li>
      </ul>
    </nav>
  {% elseif items|length  %}
    <ul class="usa-sidenav__sublist">
      {% for item in items %}
        <li class="usa-sidenav__item">
          {{ _self.item_link(item, current, is_spanish_menu) }}
          {% if item.in_active_trail and item.below %}
            {{ include('usagov-menu-sidebar.html.twig', {
              items: item.below,
              depth: depth + 1,
              current: current,
              page_type_is: page_type_is,
              is_spanish_menu: is_spanish_menu,
            }) }}{% endif %}</li>

            {% if item.in_active_trail and leaf %}
            <ul class="usa-sidenav__sublist">
              <li>{{ _self.item_link(leaf, current, is_spanish_menu, page_type_is) }}</li>
            </ul>
            {% endif %}
      {% endfor %}
    </ul>
  {% endif %}

{% else %}
  <nav aria-label="{{ nav_aria_label }}">
    <ul class="usa-sidenav">
      {% for item in items %}
        {% set class= "class=\"usa-sidenav__item"
          ~ item.in_active_trail ? ' active-trail"' : '"'
        %}
        <li {{ class }}>{{ _self.item_link(item, current, is_spanish_menu, page_type_is) }}111</li>
      {% endfor %}
    </ul>
  </nav>
{% endif %}

{% macro item_link(item, current, is_spanish_menu, page_type_is) %}

  {% if ((item.url.toString() == current.url or item.url == current.url)
          and item.title == current.title
          and page_type_is != 'Standard Page- Nav Hidden'
    ) %}
    <a class="usa-current active-trail" aria-current="page" onclick="return false;" href="{{  item.url }}">
      {% if is_spanish_menu %}
        <p class="usa-sr-only">esta página</p>
      {% endif %}
      {{ item.title }}</a>
  {% else %}
    {% if item.in_active_trail %}
      <a href="{{ item.url }}" class="active-trail">{{ item.title }}</a>
    {% else %}
      <a href="{{ item.url }}">{{ item.title }}</a>
    {% endif %}
  {% endif %}
{%  endmacro %}
