{# variables set in usagov_wizard.module
  parent_tid
  child
  start_over
#}

{% set attributes = attributes.addClass('usa-prose') %}

<div{{ attributes }}>
  <h1 class="text-red-50">{{ content.field_heading }}</h1>
  <div class="usa-intro">{{ content.field_intro }}</div>
  {{ content.field_body }}
  {% if child %}
    {{ content.field_options_list }}
    {{ content.field_footer }}
    <div class="grid-row flex-justify maxw-mobile margin-x-auto margin-top-6 margin-bottom-2 usa-reverse">
{#       Generate the url for the parent of this term to put in the 'previous' button. #}
      {% set previous_path = path('entity.taxonomy_term.canonical', {'taxonomy_term': parent_tid}) %}
      <button id="prior" class="usa-button usa-button--outline usagov-button--outline-black usa-button--big" onclick="window.location.href = '{{ previous_path }}'">Previous</button>

      {# If there are items in the options list, this must not be the last term in the tree. Generate a Next button. #}
      {% if content.field_options_list['#items'] %}
      <button id="next" class="usa-button usa-button--secondary usa-button--big"
              onclick="if(document.querySelector(`input[name='options']:checked`)) { window.location.href = document.querySelector(`input[name='options']:checked`).value; }">Next</button>
      {% endif %}
    </div>
  {% endif %}
  {% if start_over == 'true' %}
    <div class="margin-top-2">
      <a href="{{ path('entity.taxonomy_term.canonical', {'taxonomy_term': start_over_target_tid}) }}">Start over</a>
    </div>
  {% endif %}
</div>
