<style>
	.wrapper {
		display: grid;
		grid-template-columns: 1fr;
		background-color: #fff4e6;
	}
	#banner {
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 1;
		grid-row-end: 3;
		width: 100%;
		height: 100%
	}

	#picdiv {
		margin-left: auto;
		margin-right: auto;
		max-width: 1024px;
		height: 100%
	}
	.pic {
		height: 100%;
	}

	#intro {
		grid-column-start: 1;
		/* grid-column-end: 3; */
		grid-row-start: 1;
		grid-row-end: 2;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;

	}

	#intro2 {
		grid-column-start: 3;
		grid-column-end: 4;
		grid-row-start: 1;
		grid-row-end: 2;
		background: #112F4E;
		color: white;
		margin: 40px;
	}

	.message-box {
		background-color: var($homepage, background-color);
		box-shadow: 0 6px 6px var($homepage, box-shadow-color);

		margin-top: 35px;
		margin-bottom: 40px;
		padding: 20px 40px 25px 25px;

		color: white;
	}

	.message-box h1 {
		margin: 0;
		padding: 0;
		font-family: Merriweather Web, Georgia, Cambria, Times New Roman, Times, serif;
		font-weight: bold;
		font-size: 35.2px;
	}

	.message-box p {
		font-size: 20px;
		margin-bottom: 0;
		margin-top: 20px;
	}

	.message-box p a {
		color: var($homepage, link-color);
		text-decoration: underline;
	}

	/* How Do I Box*/
	#links {
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 2;
		grid-row-end: 4;
		z-index: 1;
	}

	.how-do-i-container {
		background-color: white;
		padding: 13px 25px 20px;
		border-radius: 3px;
		max-width: 960px;
		margin-right: auto;
		margin-left: auto;
	}

	.how-do-i-container h2 {
		font-family: helvetica neue, helvetica, roboto, arial, sans-serif;
		color: var($homepage, font-color);
		padding-bottom: 20px;
		margin-top: 0;
		margin-bottom: 0;
	}

	.how-do-i-container a {
		color: var($homepage, font-color);
		text-decoration: none;
	}

	.how-button {
		height: 60px;
		padding: 0 2px 0 12px;
		border: none;
		border-left: 3px solid #00bde3;
		text-align: left;
		display: flex;
		align-items: center;
	}

	/* Blue Background */
	#life-events-background {
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 3;
		grid-row-end: 5;
		background-color: #112f4e;
	}
	/* Jump Sections */
	.jump {
		text-align: center;
		padding: 20px 20px 16px;
	}

	.jump a {
		color: white;
		text-decoration: underline;
		font-size: 17.6px;
		font-family: "Source Sans Pro Web", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
	}
	.jump p {
		margin: 0 0 5px;
	}

	/* Life Events */
	#life-events {
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 4;
		grid-row-end: 5;
		color: white;
	}

	.life-events-row {
		color: white;
		margin: 0 auto;
		padding: 0 0 30px;
		width: 100%;
	}

	.life-events-content {
		max-width: 960px;
		margin-left: auto;
		margin-right: auto;
	}

	.life-events-content h2 {
		font-size: 35.2px;
		font-family: Merriweather Web, Georgia, Cambria, Times New Roman, Times, serif;
		text-align: left;
		font-weight: bold;
		margin: 0;
	}

	.life-events-content p {
		margin: 13px 0 0;
		color: white;
		font-size: 17.6px;
		font-family: "Source Sans Pro Web", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
	}

	.carousel-content {
		max-width: 960px;
		margin-left: auto;
		margin-right: auto;
		color: #ffffff;
	}

	/*All Topics*/
	#all-topics {
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 5;
		grid-row-end: 6;
		color: white;
	}

	.all-topics-header {
		margin: 0 auto;
		padding-top: 40px;
		max-width: 960px;
	}

	.all-topics-header h2 {
		margin: 0 auto;
		max-width: 960px;

		font-size: 48.8px;
		font-family: merriweather web, georgia, cambria, times new roman, times, serif;
		text-align: left;
		color: #d83933;
		font-weight: bold;
	}

	.all-topics-row {
		width: 100%;
		background-color: white;
		border-bottom: 10px solid #d83933;
		margin-top: -40px;
		padding-top: -40px;
	}

	.cards-row {
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
		background-color: #e5f8fd;
	}

	.cards-content {
		max-width: 960px;
		margin-left: auto;
		margin-right: auto;
	}
	/* Mobile */
	@media(max-width: 480px) {
		.how-button {
			margin-bottom: 15px;
		}

		.message-box {
			margin-bottom: 35px;
			padding-right: 28px;
		}

		.how-do-i-container {
			padding-top: 30px;
			padding-bottom: 20px;
		}

		.how-do-i-container h2 {
			padding-bottom: 30px;
			margin-bottom: 0;
		}
		.jump {
			padding-bottom: 50px;
		}

		.life-events-row {
			padding-bottom: 20px;
		}

		.all-topics-row {
			margin-top: -70px;
		}
	}
</style>
<div class="wrapper">
	<div id="banner">
		<div id="picdiv">
			<img class="pic" src="{{file_url(node.field_navigation_banner_image.entity.field_media_image.entity.fileuri)}}">
		</div>
	</div>


	<div id="intro">
		<div id="intro2" class="message-box">


			<h1>
				{{ node.title.value }}
			</h1>
			<p>
				{{ node.body.value | raw}}
			</p>
		</div>
	</div>
	<div id="links" class="how-do-i-container grid-container">


		<div class="grid-row">
			<div class="grid-col">
				<h2>How do I...</h2>
			</div>
		</div>

		<div class="grid-row">
			{% for link in node.field_homepage_top_links %}
				<div class="how-button grid-col-12 desktop:grid-col-3">
					<a href={{link.uri}}>
						{{link.title}}
					</a>
				</div>
			{% endfor %}
		</div>


	</div>

	<div id="life-events-background"></div>

	<div id="life-events" class="grid-container">
		<div class="grid-row jump-row">
			<div class="grid-col">
				{% include directory ~ '/templates/includes/alltopicsjump.html.twig' %}
			</div>
		</div>

		<div class="grid-row life-events-row">
			<div class=" grid-col-10 grid-offset-1 desktop:grid-col-11 desktop:grid-offset-1 life-events-content">
				<h2>
					Life Events
				</h2>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur luctus dignissim dui, eget finibus ante tincidunt sed. Proin vehicula posuere leo, a posuere magna consectetur et. Suspendisse ligula ipsum, rutrum quis fringilla at, dictum sit amet ligula. Nullam posuere bibendum placerat. Nam ut facilisis elit. Nunc venenatis, dui vitae sollicitudin eleifend, nunc augue volutpat erat, quis sagittis turpis sem eget lectus.
				</p>
			</div>
		</div>

		<div class="grid-row carousel-row">
			<div class="grid-col-10 grid-offset-1 desktop:grid-col-11 desktop:grid-offset-1 carousel-content">

				{% include directory ~ '/templates/includes/life-events-carousel.html.twig' %}
			</div>
		</div>

		<div class="grid-row jump-row">
			<div class="grid-col">
				{% include directory ~ '/templates/includes/alltopicsjump.html.twig' %}
			</div>
		</div>
	</div>

	<div id="all-topics" class="all-topics grid-container">

		<div class="grid-row all-topics-header">
			<h2>All Topics and Services</h2>
		</div>

		<div class="grid-row cards-row">
			<div class="grid-col cards-content">
				{% include directory ~ '/templates/includes/all-topics-cards.html.twig' %}
			</div>
		</div>

	</div>

</div>
