{% set image_uri = node.field_homepage_banner|file_uri %}
{% if image_uri is not null %}

	<div
		class="banner-wrapper">
		{# <div class="banner_div" style="background-image: url({{ image_uri|image_style('max_640w') }}"></div> #}
<div class="banner_div" style="background-image: -webkit-image-set(url({{image_uri|image_style('max_1024w')}}) 1x, url({{image_uri|image_style('max_2048w')}}) 2x, url({{image_uri|image_style('max_3072w')}}) 3x); background-image: image-set(url({{image_uri|image_style('max_1024w')}}), url({{image_uri|image_style('max_2048w')}}), url({{image_uri|image_style('max_3072w')}}) ) ">






</div>


{#
, background-image: image-set(
url({{ image_uri|image_style('max_640w')}}),
url({{ image_uri|image_style('max_1024w') }}),
url({{ image_uri|image_style('max_2048w') }}) )" #}


		{# <div class="banner_div">
<img class="banner_img" src="	{{ image_uri|image_style('max_480w') }}" srcset="{{ image_uri|image_style('max_640w') }} 640w, {{ image_uri|image_style('max_1024w') }} 1024w, {{ image_uri|image_style('max_2048w') }} 2048w">



		</div> #}
	</div>
{% endif %}

<div class="welcome-box">
	<h1 id="skip-to-h1">
		{{ node.title.value }}
	</h1>
	<p>
		{{ node.body.value | raw}}
	</p>
</div>
